<section id="mobile-topper">
	<header id="moby">	
		<a href="/" id="mob-button"><img src="/img/ivf-nav.svg" id="ono-burger" alt="I Value Food">Too Good To Waste</a>
		<button class="hamburger">&#9776;</button>
		<button class="cross">&#735;</button>
	</header>
	
	<div class="menu">
	  <ul data-visibilty="inactive">
		<li><a href="/">The Challenge</a></li>
		<li><a href="/index.html#challenge" onClick="ga('send', 'event', 'button', 'header navigation link', 'Register Link Mobile');">Register</a></li>
		<li><a href="/toolkit/">Toolkit</a></li>
		<li><a class="fire">Log In</a></li>
	  </ul>
	  <ul data-visibilty="active">
		<li><a href="/food-waste-log/" onClick="ga('send', 'event', 'button', 'header navigation link', 'Logged In FWL');">Food Waste Log</a></li>
		<li><a href="/how-it-works/" onClick="ga('send', 'event', 'button', 'header navigation link', 'Logged In HIW');">How It Works</a></li>
		<li><a href="/toolkit/" onClick="ga('send', 'event', 'button', 'header navigation link', 'Logged In Toolkit');">Toolkit</a></li>
		<li><a href="/profile/" onClick="ga('send', 'event', 'button', 'header navigation link', 'Logged In Profile');">My Profile</a></li>
		<li><a class="logout_challenge">Log Out</a></li>
	  </ul>
	  <div id="menu-footer" class="cf">
		  <div id="menu-left">
			  <a href="http://ivaluefood.com/"><img src="/img/ivf-nav-foot.svg" alt="I Value Food"></a>
		  </div>
		  <div id="menu-left">
			<img src="/img/brought-to-you.svg" id="brought-to-you" alt="Brought to you by Sustainable America">
			<div class="socials">
				<a href="http://sustainableamerica.org/" target="new" onClick="ga('send', 'event', 'button', 'header social link', 'Back to Sustainable America');"><img src="/img/social-sustain.svg" id="sustainable-america" alt="Sustainable America"></a>
				<a href="https://facebook.com/SustainableAmerica" target="new" onClick="ga('send', 'event', 'button', 'header social link', 'Sustainable America Facebook');"><img src="/img/social-facebook.svg" id="fb" alt="Facebook"></a>
				<a href="https://twitter.com/foodfuelfuture" target="new" onClick="ga('send', 'event', 'button', 'header social link', 'Sustainable America Twitter');"><img src="/img/social-twitter.svg" id="tw" alt="Twitter"></a>
				<a href="http://pinterest.com/sustainableusa/" target="new" onClick="ga('send', 'event', 'button', 'header social link', 'Sustainable America Pinterest');"><img src="/img/social-pinterest.svg" id="pn" alt="Pinterest"></a>
				<a href="http://instagram.com/sustainable_america" target="new" onClick="ga('send', 'event', 'button', 'header social link', 'Sustainable America Instagram');"><img src="/img/social-insta.svg" id="in" alt="Instagram"></a>
			</div>
		  </div>
	</div> 
</section>
<header id="page-header">
	<div id="sabox">
		<img src="/img/brought-to-you.svg" id="brought-to-you" alt="Brought to you by Sustainable America">
		<div class="socials">
			<a href="http://sustainableamerica.org/" target="new" onClick="ga('send', 'event', 'button', 'header social link', 'Back to Sustainable America');"><img src="/img/social-sustain.svg" id="sustainable-america" alt="Sustainable America"></a>
			<a href="https://facebook.com/SustainableAmerica" target="new" onClick="ga('send', 'event', 'button', 'header social link', 'Sustainable America Facebook');"><img src="/img/social-facebook.svg" id="fb" alt="Facebook"></a>
			<a href="https://twitter.com/foodfuelfuture" target="new" onClick="ga('send', 'event', 'button', 'header social link', 'Sustainable America Twitter');"><img src="/img/social-twitter.svg" id="tw" alt="Twitter"></a>
			<a href="http://pinterest.com/sustainableusa/" target="new" onClick="ga('send', 'event', 'button', 'header social link', 'Sustainable America Pinterest');"><img src="/img/social-pinterest.svg" id="pn" alt="Pinterest"></a>
			<a href="http://instagram.com/sustainable_america" target="new" onClick="ga('send', 'event', 'button', 'header social link', 'Sustainable America Instagram');"><img src="/img/social-insta.svg" id="in" alt="Instagram"></a>
		</div>
	</div>
	<div id="topper">
		<div class="sleeve cf">
			<a href="http://ivaluefood.com"><img src="/img/ivf-round.svg"></a>
			<a href="/"><h2>Too Good To Waste</h2></a>
		</div>
	</div>
	<div id="widenav">
		<div class="sleeve cf">
			<nav data-visibilty="inactive">
				<a {% if page.url == '/' %} class="active"{% endif %} href="/">The Challenge</a>
				<a {% if page.url == '/' %} class="active"{% endif %} href="/index.html#challenge" onClick="ga('send', 'event', 'button', 'header navigation link', 'Register Link Desktop');">Register</a>
				<a {% if page.url == '/toolkit/' %} class="active"{% endif %} href="/toolkit/">Toolkit</a>
				<a class="fire">Log In</a>
			</nav>
			<nav data-visibilty="active">
				<a {% if page.url == '/food-waste-log/' %} class="active"{% endif %} href="/food-waste-log/" onClick="ga('send', 'event', 'button', 'header navigation link', 'Mobile Logged In FWL');">Food Waste Log</a>
				<a {% if page.url == '/how-it-works/' %} class="active"{% endif %} href="/how-it-works/" onClick="ga('send', 'event', 'button', 'header navigation link', 'Mobile Logged In HIW');">How It Works</a>
				<a {% if page.url == '/toolkit/' %} class="active"{% endif %} href="/toolkit/" onClick="ga('send', 'event', 'button', 'header navigation link', 'Mobile Logged In Toolkit');">Toolkit</a>
				<a {% if page.url == '/profile/' %} class="active"{% endif %} href="/profile/" onClick="ga('send', 'event', 'button', 'header navigation link', 'Mobile Logged In Profile');">My Profile</a>
				<a class="logout_challenge">Log Out</a>
			</nav>
		</div>
	</div>
</header>
<div id="mobile-spacer"></div>