<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102677217-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-102677217-1');
  gtag('config', 'G-FHHT127B44');
</script>
  <meta name="google" content="notranslate" />
  <meta http-equiv="Content-Language" content="en_US" />
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- FACEBOOK SHARE -->
  <!-- Use images that are at least 1200 x 630 pixels for the best display on high resolution devices. At the minimum, you should use images that are 600 x 315 pixels to display link page posts with larger images. Images can be up to 8MB in size. -->

<meta property="fb:app_id" content="1759184690986671" />  
<meta property="og:title" content="I Value Food: Too Good to Waste Challenge!">
<meta property="og:description" content="Reducing food waste is one of the simplest things you can do to save money and help the environment. Get started today — take the #IValueFood Challenge!">
<meta property="og:url" content="http://challenge.ivaluefood.com">
<meta property="og:image" content="http://challenge.ivaluefood.com/img/socialshare.jpg">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="1024">
<meta property="og:image:height" content="512">
  
  
  <!-- TWITTER CARD SHARE -->
  <!-- Images for this Card should be at least 280px in width, and at least 150px in height. Image must be less than 1MB in size. -->
  
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@foodfuelfuture">
<meta name="twitter:creator" content="@foodfuelfuture">
<meta name="twitter:title" content="The I Value Food: Too Good To Waste Challenge">
<meta name="twitter:description" content="Reducing food waste is one of the simplest things you can do to save money and help the environment. Get started today — take the #IValueFood Challenge! - http://challenge.ivaluefood.com/">
<meta name="twitter:image" content="http://challenge.ivaluefood.com/img/socialshare.jpg">


  <!-- Fav and Touch Icons -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <!-- Modernizr -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>

  <!-- Fonts -->
 <script src="//use.typekit.net/zof5gaz.js"></script>
 <script>try{Typekit.load();}catch(e){}</script>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/main.css">
  
	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '269507806861242'); // Insert your pixel ID here.
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=269507806861242&ev=PageView&noscript=1"
	/></noscript>
	<!-- DO NOT MODIFY -->
	<!-- End Facebook Pixel Code -->
	

	
	

</head>