<section id="overlay">
  <div id="overlay-message">
    <a class="fire close">X</a>
    <h3 class="message_heading"></h3>
    <p class="message_body"></p>
     {% include forms/signinForm.html %}
  </div>
</section>