<!-- Javascript -->
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

<script src="{{ site.baseurl }}/libs/behaviors.js"></script>
<script src="{{ site.baseurl }}/libs/jquery.form.js"></script>
<script src="{{ site.baseurl }}/libs/jquery.cookie.js"></script>

<script>
	var member = $.cookie('memberEmail');
	if(member) {
		$('[data-visibilty="inactive"]').fadeOut();
		$('[data-visibilty="active"]').fadeIn();
	} else {
    $('[data-visibilty="active"]').fadeOut();
    $('[data-visibilty="inactive"]').fadeIn();
  }

</script>

<script src="{{ site.baseurl }}/js/main.js"></script>
<script src="{{ site.baseurl }}/js/profile.js?1000" class="cms-no-rewrite"></script>


