		<div id="toolkit-nav">
			<div class="sleeve">
				<a {% if page.url == '/toolkit/' %} class="active"{% endif %} href="/toolkit/" title="All Resources" onClick="ga('send', 'event', 'button', 'toolkit nav link', 'All Resources');">All Resources</a>
				<a {% if page.url == '/toolkit/smart-shopping/' %} class="active"{% endif %} href="/toolkit/smart-shopping/" title="Smart Shopping" onClick="ga('send', 'event', 'button', 'toolkit nav link', 'Smart Shopping');">Smart Shopping</a>
				<a {% if page.url == '/toolkit/smart-storage/' %} class="active"{% endif %} href="/toolkit/smart-storage/" title="Smart Storage" onClick="ga('send', 'event', 'button', 'toolkit nav link', 'Smart Storage');">Smart Storage</a>
				<a {% if page.url == '/toolkit/smart-prep/' %} class="active"{% endif %} href="/toolkit/smart-prep/" title="Smart Prep" onClick="ga('send', 'event', 'button', 'toolkit nav link', 'Smart Prep');">Smart Prep</a>
				<a {% if page.url == '/toolkit/smart-saving/' %} class="active"{% endif %} href="/toolkit/smart-saving/" title="Smart Saving" onClick="ga('send', 'event', 'button', 'toolkit nav link', 'Smart Saving');">Smart Saving</a>
			</div>
		</div>