<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.layout }}">
    {% include overlay.html %}
    {% include header.html %}
    <main id="page-content">
      {{ content }}
    </main>
    {% include footer.html %}
    <!-- Javascript -->
    {% include scripts.html %}
  </body>
</html>
