---
permalink: /food-waste-log/
layout: page
title: Food Waste Log
---

<section class="row white" id="app-intro">
  <div class="sleeve">
    <h2>Food Waste Log</h2>
    
    <h3>Enter your weekly waste below.</h3>
    <p>In the comments sections, try to answer the following questions:</p>
    <ul>
      <li>Why was this food wasted?</li>
      <li>What types of food are you wasting the most?</li>
      <li>Who in your house is generating the food waste?</li>
      <li>Did anything unusual happen that caused you to waste more or less than you might have?</li>
      <li>If you come to the end of a week and the last container is partially filled, estimate the portion to the nearest quarter
      (ex. .25, .5, .75).</li>
    </ul>
    <p><a href="https://challenge.ivaluefood.com/how-it-works/"  onClick="ga('send', 'event', 'button', 'inline log link', 'Chaallenge Instructions');">Challenge Instructions</a></p>
  </div>
</section>

<section class="row tan cf" id="app-box">
  <div class="sleeve">
    <form id="challenge_log"
          action="{{ site.app_url }}/update"
          method="post">
      <input type="hidden" id="confirm_first_name" name="confirm_first_name"/>
      <input type="hidden" id="confirm_last_name" name="confirm_last_name"/>
      <input type="hidden" id="confirm_email" name="confirm_email"/>
      <input type="hidden" id="confirm_postal" name="confirm_postal"/>
      <fieldset id="week_1">
        <h3>Week 1 <button class="edit_log_entry">edit</button><button class="save_log_entry">save</button></h3>
        <input id="num1" name="num1" type="text"><p class="filld">Containers Filled <span>(Update log below)</span></p>
        <textarea id="comment1" name="comment1" placeholder="Enter Comments"></textarea>
      </fieldset>
      <fieldset id="week_2">
        <h3>Week 2 <button class="edit_log_entry">edit</button><button class="save_log_entry">save</button></h3>
        
        <input id="num2" name="num2" type="text"><p class="filld">Containers Filled <span>(Update log below)</span></p>
        <textarea id="comment2" name="comment2" placeholder="Enter Comments"></textarea>
      </fieldset>
      <fieldset id="week_3">
        <h3>Week 3 <button class="edit_log_entry">edit</button><button class="save_log_entry">save</button></h3>
        <input id="num3" name="num3" type="text"><p class="filld">Containers Filled <span>(Update log below)</span></p>
        <textarea id="comment3" name="comment3" placeholder="Enter Comments"></textarea>
      </fieldset>
      <fieldset id="week_4">
        <h3>Week 4 <button class="edit_log_entry">edit</button><button class="save_log_entry">save</button></h3>
        <input id="num4" name="num4" type="text"><p class="filld">Containers Filled <span>(Update log below)</span></p>
        <textarea id="comment4" name="comment4" placeholder="Enter Comments"></textarea>
      </fieldset>
    </form>
    <h4 id="completion_message" style="display:none;">Congratulations you have completed the challenge!</h4>
  </div>
</section>
<section class="row white" id="app-results">
  <div class="sleeve cf">
    <div data-stat="week1">
      <h3>Week 1<br>Total</h3>
      <p><span>0</span>Containers Filled</p>
    </div>
    <div data-stat="avg">
      <h3>Weeks 2-4<br>Average</h3>
      <p><span>0</span>Containers Filled</p>
    </div>
    <div data-stat="reduction">
      <h3>You Reduced Your Food Waste By</h3>
      <p class="final"><span>0</span>&nbsp;</p>
    </div>
  </div>
</section>
<section data-stat="logshare" class="row white cf" id="app-share" style="display:none;">
  <div class="sleeve">
    <h2>Share Your Success</h2>
    <p>Share your food waste savings and invite your friends to reduce food waste with you.</p>
    
    <a data-stat="fbshare" href="SHARE CODE"><img src="/img/challenge-facebook.svg" alt="Challenge a friend on Facebook"></a>
    
    <a data-stat="twshare" href="SHARE CODE"><img src="/img/challenge-twitter.svg" alt="Challenge a friend on Twitter"></a>
  </div>
</section>