---
permalink: /groups/
layout: page
title: Group Food Waste Challenge Signup
---
<section class="row white" id="how-intro">
	<div class="sleeve">
		<h2>Group Food Waste Challenge</h2>
		<p>Are you part of a group or organization looking to make a lasting impact on environmental issues? Food
		waste prevention is one of the most important projects you can tackle. And the “I Value Food: Too Good
		to Waste” Challenge is just the jump-start your group needs.</p>
	</div>
	<div class="sleeve">
			<br/><br/><br /><hr /><br/><br/><br/>
	</div>
	<div class="sleeve">
		<div class="w60">
			<div style="margin-right:40px">
				<h2 style="font-size:50px">Why Is This A Good<br/>Project For a Group?</h2>
				<p style="font-size:16px; line-height:22px;">The “I Value Food: Too Good to Waste” Challenge is a proven method for reducing food waste at the household level. While the Challenge can be done on your own, we’ve found that doing it as a group keeps people engaged, encourages competitiveness and accountability, and inspires a valuable exchange of ideas.</p>
				<p style="font-size:16px; line-height:22px;">The Challenge is designed to support workplace groups, municipalities, neighborhoods, or social, school, or religious groups.</p>
				</div>
		</div>
		<div class="w40">
			<img src="/img/IVF_TGTW_Mockup-update_image.jpg" style="max-width: 100%;" alt="Why Is This A Good Project For a Group">
		</div>
		<br style="clear:both;" />
		<br/><br/><br/>
	</div>
	<section class="row tan" id="home-intro">
		<div class="sleeve">
			<h3>BY PARTICIPATING IN THIS CHALLENGE, YOUR GROUP WILL:</h3>
			<br/>
			<div class="cf">
				<p style="text-align:left;"><img src="/img/IVF_TGTW_Mockup-update-25.png" style="margin-left: 0 !important" alt="Learn new food habits that will last a lifetime.">Learn new food habits that will last a lifetime.</p>
				<p style="text-align:left;"><img src="/img/IVF_TGTW_Mockup-update_icon2.png" style="margin-left: 0 !important" alt="Reduce greenhouse gas emissions.">Reduce greenhouse gas emissions.</p>
				<p style="text-align:left;"><img src="/img/IVF_TGTW_Mockup-update_icon3.png" style="margin-left: 0 !important" alt="Support the US EPA and USDA’s goal to reduce food waste by 50% by 2030.">Support the US EPA and USDA’s goal to reduce food waste by 50% by 2030.</p>
				<p style="text-align:left;"><img src="/img/IVF_TGTW_Mockup-update_icon4.png" style="margin-left: 0 !important" alt="Reduce the average of 340 pounds of wasted food per person annually.">Reduce the average of 340 pounds of wasted food per person annually.</p>
			</div>
		</div>
	</section>
<section class="row white" id="how-intro">
	<div class="sleeve">
		<h2>How to Sign Up</h2>
		<p>Download our Group Challenge Toolkit to learn more about what to expect during the Challenge. Simply
		fill out the form below when you’re ready to start the Challenge, and we will be in touch with next steps.</p>
		<br /><br />
		<a class="buttongroupimg" href="/downloads/FTGTW-Toolkit.pdf" onClick="ga('send', 'event', 'download button', 'groups', 'Download IVF Toolkit');"><img src="/img/FTGTW-Toolkit-button.png" alt="Download Toolkit"></a>
		<br/><br/><br/><br/><br/><br/><br/>
		<div class="cognito">
			<script src="https://services.cognitoforms.com/s/bbN8iw1MJUqjPe6aHn-_rw"></script>
			<script>Cognito.load("forms", { id: "56" });</script>
		</div>
	</div>
</section>