---
permalink: /help/
layout: page
title: Challenge Support
---
<section class="row white" id="how-intro">
	<div class="sleeve">
		<h2>Challenge Support</h2>
		<p>It seems you’ve come across an error while registering for or logging into the I Value Food: Too Good To Waste
		Challenge. Due to limitations of our platform, technical issues like yours have been known to occur.</p>
		<p>Please double-check that you’ve entered the correct email address and try again.</p>
		<p>If the error persists, please contact us using the form below describing your issue and a member of our team will work
		with you to resolve it.</p>
		<p>Thank you!<br/>The Sustainable America Team</p><br/><br/>
<iframe src="https://services.cognitoforms.com/f/bbN8iw1MJUqjPe6aHn-_rw?id=67"
	style="position:relative;width:1px;min-width:100%;*width:100%;" frameborder="0" scrolling="yes" seamless="seamless"
	height="469" width="100%"></iframe>
<script src="https://services.cognitoforms.com/scripts/embed.js"></script>
	</div>

		
        {% include toolkit-nav.html %}
					
		<div class="resource-grid" id="resources">
			<div class="l3">
				<a href="http://ivaluefood.com/resources/meal-plan-shop/wasting-less-starts-at-the-store/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Wasting Less Starts at the Store');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2016/05/FTGTW_Wasting_Less_Starts_at_Store-2.jpg" alt="Wasting Less Starts at the Store"></a>
				<div class="indie-share">
					<h3>Share This</h3>
					<div class="share-wrapper">
						<div class="indie-facebook">
							<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/meal-plan-shop/wasting-less-starts-at-the-store/" title="Share Wasting Less Starts at the Store on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Wasting Less Starts at the Store on Facebook"></a>
						</div>
						<div class="indie-twitter">
							<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Wasting Less Starts at the Store on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Wasting Less Starts at the Store on Twitter"></a>
						</div>
						<div class="indie-pinterest">
							<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/meal-plan-shop/wasting-less-starts-at-the-store/&media=http://ivaluefood.com/resources/wp-content/uploads/2016/05/FTGTW_Wasting_Less_Starts_at_Store-2.jpg&description=Did%20you%20know%20that%2040%25%20of%20the%20food%20produced%20in%20America%20never%20gets%20eaten?%20Take%20a%20quiz%20to%20see%20how%20much%20food%20you%E2%80%99re%20wasting%20and%20discover%20new%20ways%20to%20get%20more%20from%20your%20food%20at%20IValueFood.com.%20Please%20repin!%20%23food%20%23foodwaste" title="Share Wasting Less Starts at the Store on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Wasting Less Starts at the Store on Pinterest"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="l3">
				<a href="http://ivaluefood.com/resources/meal-plan-shop/meal-planning-guide/" onClick="ga('send', 'event', 'button', 'toolkit resource link', '6-Step Meal Planning Guide');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2014/11/FTGTW_Meal-Planning-Shopping-Guide.jpg" alt="6-Step Meal Planning Guide"></a>
				<div class="indie-share">
					<h3>Share This</h3>
					<div class="share-wrapper">
						<div class="indie-facebook">
							<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/meal-plan-shop/meal-planning-guide/" title="Share 6-Step Meal Planning Guide on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share 6-Step Meal Planning Guide on Facebook"></a>
						</div>
						<div class="indie-twitter">
							<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share 6-Step Meal Planning Guide on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share 6-Step Meal Planning Guide on Twitter"></a>
						</div>
						<div class="indie-pinterest">
							<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/meal-plan-shop/meal-planning-guide/&media=http://ivaluefood.com/resources/wp-content/uploads/2014/11/Meal-Planning-Guide-Thumb.jpg&description=Did%20you%20know%20that%2040%25%20of%20the%20food%20produced%20in%20America%20never%20gets%20eaten?%20Take%20a%20quiz%20to%20see%20how%20much%20food%20you%E2%80%99re%20wasting%20and%20discover%20new%20ways%20to%20get%20more%20from%20your%20food%20at%20IValueFood.com.%20Please%20repin!%20%23food%20%23foodwaste" title="Share 6-Step Meal Planning Guide on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share 6-Step Meal Planning Guide on Pinterest"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="l3">
				<a href="http://ivaluefood.com/resources/food-storage/produce-storage-guide/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Smart Storage: Quick Reference Food Storage Guide');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2014/11/FTGTW_Storage_Guide.jpg" alt="Smart Storage: Quick Reference Food Storage Guide"></a>
				<div class="indie-share">
					<h3>Share This</h3>
					<div class="share-wrapper">
						<div class="indie-facebook">
							<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/food-storage/produce-storage-guide/%20%E2%80%8E" title="Share Smart Storage: Quick Reference Food Storage Guide on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Smart Storage: Quick Reference Food Storage Guide on Facebook"></a>
						</div>
						<div class="indie-twitter">
							<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Smart Storage: Quick Reference Food Storage Guide on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Smart Storage: Quick Reference Food Storage Guide on Twitter"></a>
						</div>
						<div class="indie-pinterest">
							<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/food-storage/produce-storage-guide/%20%E2%80%8E&media=http://ivaluefood.com/resources/wp-content/uploads/2014/11/FTGTW_Storage_Guide.jpg&description=Did%20you%20know%20that%2040%25%20of%20the%20food%20produced%20in%20America%20never%20gets%20eaten?%20Take%20a%20quiz%20to%20see%20how%20much%20food%20you%E2%80%99re%20wasting%20and%20discover%20new%20ways%20to%20get%20more%20from%20your%20food%20at%20IValueFood.com.%20Please%20repin!%20%23food%20%23foodwaste" title="Share Smart Storage: Quick Reference Food Storage Guide on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Smart Storage: Quick Reference Food Storage Guide on Pinterest"></a>
						</div>
					</div>
				</div>
			</div>		
			<div class="l3">
				<a href="http://ivaluefood.com/resources/food-storage/smart-storage-freezer-labels/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Smart Storage: Freezer Labels');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2016/04/FTGTW_Freezer-Labels.jpg" alt="Smart Storage: Freezer Labels"></a>
				<div class="indie-share">
					<h3>Share This</h3>
					<div class="share-wrapper">
						<div class="indie-facebook">
							<a href="https://www.facebook.com/sharer/sharer.php?u=%20http://ivaluefood.com/resources/food-storage/smart-storage-freezer-labels/" title="Share Smart Storage: Freezer Labels on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Smart Storage: Freezer Labels on Facebook"></a>
						</div>
						<div class="indie-twitter">
							<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Smart Storage: Freezer Labels on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Smart Storage: Freezer Labels on Twitter"></a>
						</div>
						<div class="indie-pinterest">
							<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/food-storage/smart-storage-freezer-labels/&media=http://ivaluefood.com/resources/wp-content/uploads/2016/04/FTGTW_Freezer-Labels.jpg&description=Smart%20Storage:%20Freezer%20Labels" title="Share Smart Storage: Freezer Labels on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Smart Storage: Freezer Labels on Pinterest"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="l3">
				<a href="http://ivaluefood.com/resources/food-storage/refrigerator-tips/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Smart Storage: Refrigerator Organization Guide');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2014/11/Refridgerator_Tips_Header.jpg" alt="Smart Storage: Refrigerator Organization Guide"></a>
				<div class="indie-share">
					<h3>Share This</h3>
					<div class="share-wrapper">
						<div class="indie-facebook">
							<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/food-storage/refrigerator-tips/" title="Share Smart Storage: Refrigerator Organization Guide on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Smart Storage: Refrigerator Organization Guide on Facebook"></a>
						</div>
						<div class="indie-twitter">
							<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Smart Storage: Refrigerator Organization Guide on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Smart Storage: Refrigerator Organization Guide on Twitter"></a>
						</div>
						<div class="indie-pinterest">
							<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/food-storage/refrigerator-tips/&media=http://ivaluefood.com/resources/wp-content/uploads/2014/11/Refrigerator-Tips-Thumb.jpg&description=Did%20you%20know%20that%2040%25%20of%20the%20food%20produced%20in%20America%20never%20gets%20eaten?%20Take%20a%20quiz%20to%20see%20how%20much%20food%20you%E2%80%99re%20wasting%20and%20discover%20new%20ways%20to%20get%20more%20from%20your%20food%20at%20IValueFood.com.%20Please%20repin!%20%23food%20%23foodwaste" title="Share Smart Storage: Refrigerator Organization Guide on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Smart Storage: Refrigerator Organization Guide on Pinterest"></a>
						</div>
					</div>
				</div>
			</div>		
			<div class="l3">
				<a href="http://ivaluefood.com/resources/cooking-eating/prep-now-waste-less/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Prep Now, Waste Less');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2016/04/FTGTW_Food-Prep-Guide.jpg" alt="Prep Now, Waste Less"></a>
				<div class="indie-share">
					<h3>Share This</h3>
					<div class="share-wrapper">
						<div class="indie-facebook">
							<a href="https://www.facebook.com/sharer/sharer.php?u=%20 http://ivaluefood.com/resources/cooking-eating/prep-now-waste-less/" title="Share Prep Now, Waste Less on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Prep Now, Waste Less on Facebook"></a>
						</div>
						<div class="indie-twitter">
							<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Prep Now, Waste Less on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Prep Now, Waste Less on Twitter"></a>
						</div>
						<div class="indie-pinterest">
							<a href="https://pinterest.com/pin/create/button/?url= http://ivaluefood.com/resources/cooking-eating/prep-now-waste-less/&media=http://ivaluefood.com/resources/wp-content/uploads/2016/04/FTGTW_Food-Prep-Guide.jpg&description=Prep%20Now,%20Waste%20Less" title="Share Prep Now, Waste Less on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Prep Now, Waste Less on Pinterest"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="l3">
				<a href="http://ivaluefood.com/resources/cooking-eating/portion-size-guide/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Portion Size Guide');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2016/06/Portion_Size_Cheat_Sheet_HEADER.png" alt="Portion Size Guide"></a>
				<div class="indie-share">
					<h3>Share This</h3>
					<div class="share-wrapper">
						<div class="indie-facebook">
							<a href="https://www.facebook.com/sharer/sharer.php?u=%20 http://ivaluefood.com/resources/cooking-eating/prep-now-waste-less/" title="Share Portion Size Guide on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Portion Size Guide on Facebook"></a>
						</div>
						<div class="indie-twitter">
							<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Portion Size Guide on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Portion Size Guide on Twitter"></a>
						</div>
						<div class="indie-pinterest">
							<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/cooking-eating/portion-size-guide/&media=http://ivaluefood.com/resources/wp-content/uploads/2016/06/Portion_Size_Cheat_Sheet_HEADER.png&description=Portion%20Size%20Guide" title="Share Portion Size Guide on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Portion Size Guide on Pinterest"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="l3">
				<a href="http://ivaluefood.com/resources/food-storage/eat-me-first-sign/" onClick="ga('send', 'event', 'button', 'toolkit resource link', '&#8216;Eat Me First&#8217; Sign');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2016/04/FTGTW_Eat-Me-First-Sign-1.jpg" alt="&#8216;Eat Me First&#8217; Sign"></a>
				<div class="indie-share">
					<h3>Share This</h3>
					<div class="share-wrapper">
						<div class="indie-facebook">
							<a href="https://www.facebook.com/sharer/sharer.php?u=%20http://ivaluefood.com/resources/food-storage/eat-me-first-sign/" title="Share &#8216;Eat Me First&#8217; Sign on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share &#8216;Eat Me First&#8217; Sign on Facebook"></a>
						</div>
						<div class="indie-twitter">
							<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share &#8216;Eat Me First&#8217; Sign on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share &#8216;Eat Me First&#8217; Sign on Twitter"></a>
						</div>
						<div class="indie-pinterest">
							<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/food-storage/eat-me-first-sign/&media=http://ivaluefood.com/resources/wp-content/uploads/2016/04/FTGTW_Eat-Me-First-Sign.jpg&description=Eat%20Me%20First%20Sign" title="Share &#8216;Eat Me First&#8217; Sign on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share &#8216;Eat Me First&#8217; Sign on Pinterest"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="l3">
				<a href="http://ivaluefood.com/resources/cooking-eating/3-recipes-for-leftover-vegetables/" onClick="ga('send', 'event', 'button', 'toolkit resource link', '3 Recipes for Leftover Vegetables');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2014/11/FTGTW_Recipes-for-Leftovers-.jpg" alt="3 Recipes for Leftover Vegetables"></a>
				<div class="indie-share">
					<h3>Share This</h3>
					<div class="share-wrapper">
						<div class="indie-facebook">
							<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/cooking-eating/3-recipes-for-leftover-vegetables/" title="Share 3 Recipes for Leftover Vegetables on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share 3 Recipes for Leftover Vegetables on Facebook"></a>
						</div>
						<div class="indie-twitter">
							<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share 3 Recipes for Leftover Vegetables on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share 3 Recipes for Leftover Vegetables on Twitter"></a>
						</div>
						<div class="indie-pinterest">
							<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/cooking-eating/3-recipes-for-leftover-vegetables/&media=http://ivaluefood.com/resources/wp-content/uploads/2014/11/3-Ways-Use-Leftover-Vegetables-Thumb.jpg&description=Did%20you%20know%20that%2040%25%20of%20the%20food%20produced%20in%20America%20never%20gets%20eaten?%20Take%20a%20quiz%20to%20see%20how%20much%20food%20you%E2%80%99re%20wasting%20and%20discover%20new%20ways%20to%20get%20more%20from%20your%20food%20at%20IValueFood.com.%20Please%20repin!%20%23food%20%23foodwaste" title="Share 3 Recipes for Leftover Vegetables on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share 3 Recipes for Leftover Vegetables on Pinterest"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="l3">
				<a href="http://ivaluefood.com/resources/cooking-eating/creative-ways-to-use-leftovers/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Don't Throw That Away! 10 Creative Ways to Use Leftovers');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2014/11/FTGTW_Tips-for-Using-Leftovers.jpg" alt="Don't Throw That Away! 10 Creative Ways to Use Leftovers"></a>
				<div class="indie-share">
					<h3>Share This</h3>
					<div class="share-wrapper">
						<div class="indie-facebook">
							<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/cooking-eating/creative-ways-to-use-leftovers/" title="Share Don't Throw That Away! 10 Creative Ways to Use Leftovers on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Don't Throw That Away! 10 Creative Ways to Use Leftovers on Facebook"></a>
						</div>
						<div class="indie-twitter">
							<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Don't Throw That Away! 10 Creative Ways to Use Leftovers on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Don't Throw That Away! 10 Creative Ways to Use Leftovers on Twitter"></a>
						</div>
						<div class="indie-pinterest">
							<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/cooking-eating/creative-ways-to-use-leftovers/&media=http://ivaluefood.com/resources/wp-content/uploads/2014/11/Creative-Ways-Use-leftovers-Thumb.jpg&description=Did%20you%20know%20that%2040%25%20of%20the%20food%20produced%20in%20America%20never%20gets%20eaten?%20Take%20a%20quiz%20to%20see%20how%20much%20food%20you%E2%80%99re%20wasting%20and%20discover%20new%20ways%20to%20get%20more%20from%20your%20food%20at%20IValueFood.com.%20Please%20repin!%20%23food%20%23foodwaste" title="Share Don't Throw That Away! 10 Creative Ways to Use Leftovers on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Don't Throw That Away! 10 Creative Ways to Use Leftovers on Pinterest"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="l3">
				<a href="http://ivaluefood.com/resources/food-storage/what-expiration-dates-really-mean/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'What &#8216;Expiration&#8217; Dates Really Mean');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2014/11/FTGTW_Expiration_Dates.jpg" alt="What &#8216;Expiration&#8217; Dates Really Mean"></a>
				<div class="indie-share">
					<h3>Share This</h3>
					<div class="share-wrapper">
						<div class="indie-facebook">
							<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/food-storage/expiration-dates-really-mean/" title="Share What &#8216;Expiration&#8217; Dates Really Mean on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share What &#8216;Expiration&#8217; Dates Really Mean on Facebook"></a>
						</div>
						<div class="indie-twitter">
							<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share What &#8216;Expiration&#8217; Dates Really Mean on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share What &#8216;Expiration&#8217; Dates Really Mean on Twitter"></a>
						</div>
						<div class="indie-pinterest">
							<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/food-storage/expiration-dates-really-mean/&media=http://ivaluefood.com/resources/wp-content/uploads/2014/11/Expiration-Dates-Mean-Thumb.jpg&description=Did%20you%20know%20that%2040%25%20of%20the%20food%20produced%20in%20America%20never%20gets%20eaten?%20Take%20a%20quiz%20to%20see%20how%20much%20food%20you%E2%80%99re%20wasting%20and%20discover%20new%20ways%20to%20get%20more%20from%20your%20food%20at%20IValueFood.com.%20Please%20repin!%20%23food%20%23foodwaste" title="Share What &#8216;Expiration&#8217; Dates Really Mean on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share What &#8216;Expiration&#8217; Dates Really Mean on Pinterest"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="l3">
				<a href="http://ivaluefood.com/resources/take-action/recording-worksheet/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Recording Worksheet');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2016/07/FTGTW_recordingworksheet.jpg" alt="Recording Worksheet"></a>
				<div class="indie-share">
					<h3>Share This</h3>
					<div class="share-wrapper">
						<div class="indie-facebook">
							<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/take-action/recording-worksheet/" title="Share Recording Worksheet on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Recording Worksheet on Facebook"></a>
						</div>
						<div class="indie-twitter">
							<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Recording Worksheet on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Recording Worksheet on Twitter"></a>
						</div>
						<div class="indie-pinterest">
							<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/take-action/recording-worksheet/&media=http://ivaluefood.com/resources/wp-content/uploads/2016/07/FTGTW_recordingworksheet.jpg&description=Recording%Worksheet" title="Share Recording Worksheet on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Recording Worksheet on Pinterest"></a>
						</div>
					</div>
				</div>
			</div>		
		</div>					
		<div style="clear:both;">		
	</div>
</section>