---
permalink: /how-it-works/
layout: page
title: How It Works
---

<section class="row white" id="how-intro">
	<div class="sleeve">
		<h2>How It Works</h2>
		
		<p>Congratulations on joining the I Value Food: Too Good to Waste Challenge! You're on your way to wasting less food, saving money and helping the planet. Let's get started!</p>
		
		<p>Read through the Challenge instructions below or <a href="/downloads/Challenge_Instructions.pdf"  onClick="ga('send', 'event', 'button', 'downloadable challenge instructions', 'Download Challenge Instructions');" target="new">print out a copy for your kitchen</a>. Explain them to members of your household to get them on board with wasting less food.</p>
		
		<div class='embed-container'><iframe width="853" height="480" src="https://www.youtube.com/embed/TGKDH_3wSEo" frameborder="0" allowfullscreen></iframe></div>
		
		<h3>1. Track your waste</h3>
		<p>Over the course of the four-week Challenge, place all of your PREVENTABLE* food waste into a quart-size zip-top bag or container (like a plastic deli container). Keep a tally of how many containers you fill throughout the week. You can discard the contents once it gets full, as long as you record it. (Use the  <a href="/downloads/Recording_Sheet.pdf" target="new" onClick="ga('send', 'event', 'button', 'downloadable challenge worksheet', 'Download Challenge Worksheet');">Recording Worksheet</a> or your online <a href="/food-waste-log/">Food Waste Log</a> to keep track.)</p>
		
		<p>*PREVENTABLE food waste is food you bought to eat but has since spoiled, or food that was prepared but was not eaten then thrown away. This does not include non-edible food waste such as banana peels, egg shells or chicken bones. Do not collect liquid waste, such as soup.</p>
		
		<h3>2. Try new tips</h3>
		<p>In the first week, you'll keep to your usual routine to establish a "baseline" average of food wasted in your household. The emails you'll get in Weeks 2-4 will include new food waste prevention strategies to try. Except for these new strategies, keep to your usual routine as much as possible during the challenge. For example, unless you regularly clean out your freezer, do not clean it throughout the challenge. </p>
		
		<h3>3. Discover your savings</h3>
		<p>At the end of Week 4, you'll compare your averages for the first baseline week to Weeks 2 through 4 and see how much food you saved from going to waste! Many families have reduced their food waste by 50% or more.</p>
	</div>
</section>


<section class="row tan" id="how-tips">
	<div class="sleeve">

	<h2>Waste Collection Tips</h2>
	
	<ul>
		<li>Make sure you use the same size container throughout the Challenge.</li>
		<li>Keep containers in the fridge or freezer if you're worried about odor or pests.</li>
		<li>You can throw the empty containers away before they're full as long as you record the total containers filled for the week.</li>
		<li>If you come to the end of a week and the last container is partially filled, estimate the portion to the nearest quarter (ex. .25, .5, .75).</li>
	</ul>

	</div>
</section>

<section class="row white" id="how-strat">
	<div class="sleeve">

	<h2>'Too Good To Waste' Strategies</h2>
	
	<p>Here are a few of the smart strategies from the Toolkit to try during weeks 2-4 as you continue to measure how much goes to waste each week. Keep notes on what works to reduce food waste and what doesn't, why food is going to waste, and the types of food you are wasting the most (are you wasting mostly produce, meat or something else?)</p>
	
	<h3>Smart Shopping</h3>
	<h4>Buy What You Need</h4>
	<p>Make a shopping list with the <a href="http://ivaluefood.com/resources/meal-plan-shop/meal-planning-guide/" onClick="ga('send', 'event', 'button', 'inline hiw link', 'Meal Planner & Shopping List');">Meal Planner & Shopping List</a> template based on how many meals you expect to eat at home before your next shopping trip. By buying no more than what you expect to use, you will be more likely to use it up and keep it fresh.</p>
	
	<h3>Smart Storage</h3>
	<h4>Keep Food Fresh &amp; Avoid Spoilage</h4>
	<p>Store produce so it stays fresh longer with the help of this <a href="http://ivaluefood.com/resources/food-storage/produce-storage-guide/" onClick="ga('send', 'event', 'button', 'inline hiw link', 'Quick Reference Food Storage Guide');">Quick Reference Food Storage Guide</a>.</p>
	
	<h3>Smart Prep</h3>
	<h4>Prep Now, Eat Later</h4>
	<p>Use the <a href="http://ivaluefood.com/resources/cooking-eating/prep-now-waste-less/" onClick="ga('send', 'event', 'button', 'inline hiw link', 'Smart Prep Guide');">Smart Prep Guide</a> to learn how you can save time and money.</p>
	
	<h3>Smart Saving</h3>
	<h4>Eat What You Buy</h4>
	<p>This involves being mindful of leftovers and old ingredients that need using up. An <a href="http://ivaluefood.com/resources/food-storage/eat-me-first-sign/" onClick="ga('send', 'event', 'button', 'inline hiw link', 'Eat Me First');">"Eat Me First"</a> label can be used to designate an area in your refrigerator for leftovers and food that won't keep long.</p>
	</div>
</section>