---
permalink: /toolkit/smart-prep/
layout: page
title: Toolkit - 
---

<section class="row white" id="how-intro">
	<div class="sleeve">
<h2>Toolkit - Smart Prep</h2>
<h3>Thank you for participating in the I Value Food: Too Good to Waste Challenge. These resources will help you find new ways to waste less food as you complete the challenge.</h3>
	</div>

{% include toolkit-nav.html %}
			
<div class="resource-grid" id="resources">
	<div class="l3">
		<a href="http://ivaluefood.com/resources/cooking-eating/prep-now-waste-less/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Prep Now, Waste Less');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2016/04/FTGTW_Food-Prep-Guide.jpg" alt="Prep Now, Waste Less"></a>
		<div class="indie-share">
			<h3>Share This</h3>
			<div class="share-wrapper">
				<div class="indie-facebook">
					<a href="https://www.facebook.com/sharer/sharer.php?u=%20 http://ivaluefood.com/resources/cooking-eating/prep-now-waste-less/" title="Share Prep Now, Waste Less on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Prep Now, Waste Less on Facebook"></a>
				</div>
				<div class="indie-twitter">
					<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Prep Now, Waste Less on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Prep Now, Waste Less on Twitter"></a>
				</div>
				<div class="indie-pinterest">
					<a href="https://pinterest.com/pin/create/button/?url= http://ivaluefood.com/resources/cooking-eating/prep-now-waste-less/&media=http://ivaluefood.com/resources/wp-content/uploads/2016/04/FTGTW_Food-Prep-Guide.jpg&description=Prep%20Now,%20Waste%20Less" title="Share Prep Now, Waste Less on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Prep Now, Waste Less on Pinterest"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="l3">
		<a href="http://ivaluefood.com/resources/cooking-eating/portion-size-guide/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Portion Size Guide');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2016/06/Portion_Size_Cheat_Sheet_HEADER.png" alt="Portion Size Guide"></a>
		<div class="indie-share">
			<h3>Share This</h3>
			<div class="share-wrapper">
				<div class="indie-facebook">
					<a href="https://www.facebook.com/sharer/sharer.php?u=%20 http://ivaluefood.com/resources/cooking-eating/prep-now-waste-less/" title="Share Portion Size Guide on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Portion Size Guide on Facebook"></a>
				</div>
				<div class="indie-twitter">
					<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Portion Size Guide on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Portion Size Guide on Twitter"></a>
				</div>
				<div class="indie-pinterest">
					<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/cooking-eating/portion-size-guide/&media=http://ivaluefood.com/resources/wp-content/uploads/2016/06/Portion_Size_Cheat_Sheet_HEADER.png&description=Portion%20Size%20Guide" title="Share Portion Size Guide on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Portion Size Guide on Pinterest"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="l3">
		<a href="http://ivaluefood.com/resources/take-action/recording-worksheet/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Recording Worksheet');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2016/07/FTGTW_recordingworksheet.jpg" alt="Recording Worksheet"></a>
		<div class="indie-share">
			<h3>Share This</h3>
			<div class="share-wrapper">
				<div class="indie-facebook">
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/take-action/recording-worksheet/" title="Share Recording Worksheet on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Recording Worksheet on Facebook"></a>
			</div>
			<div class="indie-twitter">
				<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Recording Worksheet on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Recording Worksheet on Twitter"></a>
			</div>
			<div class="indie-pinterest">
				<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/take-action/recording-worksheet/&media=http://ivaluefood.com/resources/wp-content/uploads/2016/07/FTGTW_recordingworksheet.jpg&description=Recording%Worksheet" title="Share Recording Worksheet on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Recording Worksheet on Pinterest"></a>
				</div>
			</div>
		</div>
	</div>
</div>		
<div style="clear:both;">
    <a href="/toolkit/" title="Toolkit" class="all-resources">All Resources</a>
</div>
</section>