---
permalink: /toolkit/smart-storage/
layout: page
title: Toolkit - Smart Storage
---
<section class="row white" id="how-intro">
	<div class="sleeve">
		<h2>Toolkit - Smart Storage</h2>
		<h3>Thank you for participating in the I Value Food: Too Good to Waste Challenge. These resources will help you find new ways to waste less food as you complete the challenge.</h3>
	</div>

{% include toolkit-nav.html %}
			
<div class="resource-grid" id="resources">
	<div class="l3">
		<a href="http://ivaluefood.com/resources/food-storage/produce-storage-guide/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Smart Storage: Quick Reference Food Storage Guide');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2014/11/FTGTW_Storage_Guide.jpg" alt="Smart Storage: Quick Reference Food Storage Guide"></a>
		<div class="indie-share">
			<h3>Share This</h3>
			<div class="share-wrapper">
				<div class="indie-facebook">
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/food-storage/produce-storage-guide/%20%E2%80%8E" title="Share Smart Storage: Quick Reference Food Storage Guide on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Smart Storage: Quick Reference Food Storage Guide on Facebook"></a>
				</div>
				<div class="indie-twitter">
					<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Smart Storage: Quick Reference Food Storage Guide on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Smart Storage: Quick Reference Food Storage Guide on Twitter"></a>
				</div>
				<div class="indie-pinterest">
					<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/food-storage/produce-storage-guide/%20%E2%80%8E&media=http://ivaluefood.com/resources/wp-content/uploads/2014/11/FTGTW_Storage_Guide.jpg&description=Did%20you%20know%20that%2040%25%20of%20the%20food%20produced%20in%20America%20never%20gets%20eaten?%20Take%20a%20quiz%20to%20see%20how%20much%20food%20you%E2%80%99re%20wasting%20and%20discover%20new%20ways%20to%20get%20more%20from%20your%20food%20at%20IValueFood.com.%20Please%20repin!%20%23food%20%23foodwaste" title="Share Smart Storage: Quick Reference Food Storage Guide on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Smart Storage: Quick Reference Food Storage Guide on Pinterest"></a>
				</div>
			</div>
		</div>
	</div>		
	<div class="l3">
		<a href="http://ivaluefood.com/resources/food-storage/smart-storage-freezer-labels/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Smart Storage: Freezer Labels');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2016/04/FTGTW_Freezer-Labels.jpg" alt="Smart Storage: Freezer Labels"></a>
		<div class="indie-share">
			<h3>Share This</h3>
			<div class="share-wrapper">
				<div class="indie-facebook">
					<a href="https://www.facebook.com/sharer/sharer.php?u=%20http://ivaluefood.com/resources/food-storage/smart-storage-freezer-labels/" title="Share Smart Storage: Freezer Labels on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Smart Storage: Freezer Labels on Facebook"></a>
				</div>
				<div class="indie-twitter">
					<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Smart Storage: Freezer Labels on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Smart Storage: Freezer Labels on Twitter"></a>
				</div>
				<div class="indie-pinterest">
					<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/food-storage/smart-storage-freezer-labels/&media=http://ivaluefood.com/resources/wp-content/uploads/2016/04/FTGTW_Freezer-Labels.jpg&description=Smart%20Storage:%20Freezer%20Labels" title="Share Smart Storage: Freezer Labels on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Smart Storage: Freezer Labels on Pinterest"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="l3">
		<a href="http://ivaluefood.com/resources/food-storage/refrigerator-tips/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Smart Storage: Refrigerator Organization Guide');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2014/11/Refridgerator_Tips_Header.jpg" alt="Smart Storage: Refrigerator Organization Guide"></a>
		<div class="indie-share">
			<h3>Share This</h3>
			<div class="share-wrapper">
				<div class="indie-facebook">
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/food-storage/refrigerator-tips/" title="Share Smart Storage: Refrigerator Organization Guide on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Smart Storage: Refrigerator Organization Guide on Facebook"></a>
				</div>
				<div class="indie-twitter">
					<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Smart Storage: Refrigerator Organization Guide on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Smart Storage: Refrigerator Organization Guide on Twitter"></a>
				</div>
				<div class="indie-pinterest">
					<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/food-storage/refrigerator-tips/&media=http://ivaluefood.com/resources/wp-content/uploads/2014/11/Refrigerator-Tips-Thumb.jpg&description=Did%20you%20know%20that%2040%25%20of%20the%20food%20produced%20in%20America%20never%20gets%20eaten?%20Take%20a%20quiz%20to%20see%20how%20much%20food%20you%E2%80%99re%20wasting%20and%20discover%20new%20ways%20to%20get%20more%20from%20your%20food%20at%20IValueFood.com.%20Please%20repin!%20%23food%20%23foodwaste" title="Share Smart Storage: Refrigerator Organization Guide on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Smart Storage: Refrigerator Organization Guide on Pinterest"></a>
				</div>
			</div>
		</div>
	</div>		
	<div class="l3">
		<a href="http://ivaluefood.com/resources/take-action/recording-worksheet/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Recording Worksheet');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2016/07/FTGTW_recordingworksheet.jpg" alt="Recording Worksheet"></a>
		<div class="indie-share">
			<h3>Share This</h3>
			<div class="share-wrapper">
				<div class="indie-facebook">
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/take-action/recording-worksheet/" title="Share Recording Worksheet on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Recording Worksheet on Facebook"></a>
				</div>
				<div class="indie-twitter">
					<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Recording Worksheet on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Recording Worksheet on Twitter"></a>
				</div>
				<div class="indie-pinterest">
					<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/take-action/recording-worksheet/&media=http://ivaluefood.com/resources/wp-content/uploads/2016/07/FTGTW_recordingworksheet.jpg&description=Recording%Worksheet" title="Share Recording Worksheet on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Recording Worksheet on Pinterest"></a>
				</div>
			</div>
		</div>
	 </div>
</div>		
<div style="clear:both;">
    <a href="/toolkit/" title="Toolkit" class="all-resources">All Resources</a>
</div>
</section>
