---
permalink: /toolkit/smart-saving/
layout: page
title: Toolkit
---

<section class="row white" id="how-intro">
	<div class="sleeve">
<h2>Toolkit - Smart Saving</h2>
<h3>Thank you for participating in the I Value Food: Too Good to Waste Challenge. These resources will help you find new ways to waste less food as you complete the challenge.</h3>
	</div>

{% include toolkit-nav.html %}
			
<div class="resource-grid" id="resources">
	<div class="l3">
		<a href="http://ivaluefood.com/resources/food-storage/eat-me-first-sign/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Recording Worksheet');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2016/04/FTGTW_Eat-Me-First-Sign-1.jpg" alt="&#8216;Eat Me First&#8217; Sign"></a>
		<div class="indie-share">
			<h3>Share This</h3>
			<div class="share-wrapper">
				<div class="indie-facebook">
					<a href="https://www.facebook.com/sharer/sharer.php?u=%20http://ivaluefood.com/resources/food-storage/eat-me-first-sign/" title="Share &#8216;Eat Me First&#8217; Sign on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share &#8216;Eat Me First&#8217; Sign on Facebook"></a>
				</div>
				<div class="indie-twitter">
					<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share &#8216;Eat Me First&#8217; Sign on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share &#8216;Eat Me First&#8217; Sign on Twitter"></a>
				</div>
				<div class="indie-pinterest">
					<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/food-storage/eat-me-first-sign/&media=http://ivaluefood.com/resources/wp-content/uploads/2016/04/FTGTW_Eat-Me-First-Sign.jpg&description=Eat%20Me%20First%20Sign" title="Share &#8216;Eat Me First&#8217; Sign on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share &#8216;Eat Me First&#8217; Sign on Pinterest"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="l3">
		<a href="http://ivaluefood.com/resources/cooking-eating/3-recipes-for-leftover-vegetables/" onClick="ga('send', 'event', 'button', 'toolkit resource link', '3 Recipes for Leftover Vegetables');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2014/11/FTGTW_Recipes-for-Leftovers-.jpg" alt="3 Recipes for Leftover Vegetables"></a>
		<div class="indie-share">
			<h3>Share This</h3>
			<div class="share-wrapper">
				<div class="indie-facebook">
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/cooking-eating/3-recipes-for-leftover-vegetables/" title="Share 3 Recipes for Leftover Vegetables on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share 3 Recipes for Leftover Vegetables on Facebook"></a>
				</div>
				<div class="indie-twitter">
					<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share 3 Recipes for Leftover Vegetables on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share 3 Recipes for Leftover Vegetables on Twitter"></a>
				</div>
				<div class="indie-pinterest">
					<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/cooking-eating/3-recipes-for-leftover-vegetables/&media=http://ivaluefood.com/resources/wp-content/uploads/2014/11/3-Ways-Use-Leftover-Vegetables-Thumb.jpg&description=Did%20you%20know%20that%2040%25%20of%20the%20food%20produced%20in%20America%20never%20gets%20eaten?%20Take%20a%20quiz%20to%20see%20how%20much%20food%20you%E2%80%99re%20wasting%20and%20discover%20new%20ways%20to%20get%20more%20from%20your%20food%20at%20IValueFood.com.%20Please%20repin!%20%23food%20%23foodwaste" title="Share 3 Recipes for Leftover Vegetables on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share 3 Recipes for Leftover Vegetables on Pinterest"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="l3">
		<a href="http://ivaluefood.com/resources/cooking-eating/creative-ways-to-use-leftovers/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Don't Throw That Away! 10 Creative Ways to Use Leftovers');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2014/11/FTGTW_Tips-for-Using-Leftovers.jpg" alt="Don't Throw That Away! 10 Creative Ways to Use Leftovers"></a>
		<div class="indie-share">
			<h3>Share This</h3>
			<div class="share-wrapper">
				<div class="indie-facebook">
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/cooking-eating/creative-ways-to-use-leftovers/" title="Share Don't Throw That Away! 10 Creative Ways to Use Leftovers on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Don't Throw That Away! 10 Creative Ways to Use Leftovers on Facebook"></a>
				</div>
				<div class="indie-twitter">
					<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Don't Throw That Away! 10 Creative Ways to Use Leftovers on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Don't Throw That Away! 10 Creative Ways to Use Leftovers on Twitter"></a>
				</div>
				<div class="indie-pinterest">
					<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/cooking-eating/creative-ways-to-use-leftovers/&media=http://ivaluefood.com/resources/wp-content/uploads/2014/11/Creative-Ways-Use-leftovers-Thumb.jpg&description=Did%20you%20know%20that%2040%25%20of%20the%20food%20produced%20in%20America%20never%20gets%20eaten?%20Take%20a%20quiz%20to%20see%20how%20much%20food%20you%E2%80%99re%20wasting%20and%20discover%20new%20ways%20to%20get%20more%20from%20your%20food%20at%20IValueFood.com.%20Please%20repin!%20%23food%20%23foodwaste" title="Share Don't Throw That Away! 10 Creative Ways to Use Leftovers on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Don't Throw That Away! 10 Creative Ways to Use Leftovers on Pinterest"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="l3">
		<a href="http://ivaluefood.com/resources/food-storage/what-expiration-dates-really-mean/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'What &#8216;Expiration&#8217; Dates Really Mean');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2014/11/FTGTW_Expiration_Dates.jpg" alt="What &#8216;Expiration&#8217; Dates Really Mean"></a>
		<div class="indie-share">
			<h3>Share This</h3>
			<div class="share-wrapper">
				<div class="indie-facebook">
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/food-storage/expiration-dates-really-mean/" title="Share What &#8216;Expiration&#8217; Dates Really Mean on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share What &#8216;Expiration&#8217; Dates Really Mean on Facebook"></a>
				</div>
				<div class="indie-twitter">
					<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share What &#8216;Expiration&#8217; Dates Really Mean on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share What &#8216;Expiration&#8217; Dates Really Mean on Twitter"></a>
				</div>
				<div class="indie-pinterest">
					<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/food-storage/expiration-dates-really-mean/&media=http://ivaluefood.com/resources/wp-content/uploads/2014/11/Expiration-Dates-Mean-Thumb.jpg&description=Did%20you%20know%20that%2040%25%20of%20the%20food%20produced%20in%20America%20never%20gets%20eaten?%20Take%20a%20quiz%20to%20see%20how%20much%20food%20you%E2%80%99re%20wasting%20and%20discover%20new%20ways%20to%20get%20more%20from%20your%20food%20at%20IValueFood.com.%20Please%20repin!%20%23food%20%23foodwaste" title="Share What &#8216;Expiration&#8217; Dates Really Mean on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share What &#8216;Expiration&#8217; Dates Really Mean on Pinterest"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="l3">
		<a href="http://ivaluefood.com/resources/take-action/recording-worksheet/" onClick="ga('send', 'event', 'button', 'toolkit resource link', 'Recording Worksheet');"><img src="http://ivaluefood.com/resources/wp-content/uploads/2016/07/FTGTW_recordingworksheet.jpg" alt="Recording Worksheet"></a>
		<div class="indie-share">
			<h3>Share This</h3>
			<div class="share-wrapper">
				<div class="indie-facebook">
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://ivaluefood.com/resources/take-action/recording-worksheet/" title="Share Recording Worksheet on Facebook"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-facebook.png" alt="Share Recording Worksheet on Facebook"></a>
				</div>
				<div class="indie-twitter">
					<a href="https://twitter.com/home?status=Help%20put%20an%20end%20to%20%23FoodWaste!%20Join%20the%20%23IValueFood%20movement%20http://ivaluefood.com/%20@foodfuelfuture" title="Share Recording Worksheet on Twitter"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-twitter.png" alt="Share Recording Worksheet on Twitter"></a>
				</div>
				<div class="indie-pinterest">
					<a href="https://pinterest.com/pin/create/button/?url=http://ivaluefood.com/resources/take-action/recording-worksheet/&media=http://ivaluefood.com/resources/wp-content/uploads/2016/07/FTGTW_recordingworksheet.jpg&description=Recording%Worksheet" title="Share Recording Worksheet on Pinterest"><img src="http://ivaluefood.com/resources/wp-content/themes/ivaluefood/img/indie-pinterest.png" alt="Share Recording Worksheet on Pinterest"></a>
				</div>
			</div>
		</div>
	</div>		
</div>		
<div style="clear:both;">
    <a href="/toolkit/" title="Toolkit" class="all-resources">All Resources</a>
</div>
</section>