

h2 {
	color:$dark-green;
	font-family:$bebas;
	text-transform:uppercase;
	font-size:68px;
	line-height:100%;
	font-weight:400;
	padding-bottom:12px;
	letter-spacing:.05em;
}

h3 {
	color:$dark-green;
	font-family:$din2014;
	text-transform:uppercase;
	font-weight:300;
	font-size:32px;
	line-height:42px;
	padding-bottom:12px;
}

h4 {
	color:$dark-green;
	font-family:$bebas;
	text-transform:uppercase;
	font-size:30px;
	line-height:100%;
	font-weight:400;
	padding-bottom:12px;
}

p {
	color:$dark-gray;
	font-family:$georgia;
	font-size:20px;
	line-height:29px;
	padding-bottom:12px;
}

li {
	color:$dark-gray;
	font-family:$georgia;
	font-size:20px;
	line-height:29px;
	padding-bottom:12px;
}


a {
	color:$dark-green;
	cursor:pointer;
}

.sleeve {
	width:1000px;
	margin:0 auto;
	box-sizing:border-box;
}

.w60 {
	width:60%;
	float:left;
	box-sizing:border-box;
}

.w40 {
	width:40%;
	float:left;
	box-sizing:border-box;
}

.w50 {
	width:50%;
	float:left;
	box-sizing:border-box;
}


.row {
	padding:100px 0;
}

.tan {
	background:$tan;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
	
	.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#topper {
	background:$light-green;
	height:120px;

	a {
		text-decoration:none;
	}
	
	img { 
		float:left;
		margin-right:20px;
		z-index:100;
	}
	
	h2 {
		margin-top:40px;
	}
	
}

#widenav {
	background:$dark-green;
	
	a {
		color:$light-green;
		font-family:$din2014;
		text-transform:uppercase;
		text-decoration:none;
		font-size:16px;
		line-height:16px;
		padding:0 10px;
		margin:15px 0;
		display:inline-block;
		border-left:2px solid $light-green;
		cursor:pointer;
	}
	
	a:first-child {
		padding-left:0;
		border-left:0;	
	}
	
	a.active {
		color:#fff;
	}
	
}

#sabox {
	background:$med-green;
	width:230px;
	height:166px;
	text-align:center;
	position:absolute;
	z-index:100;
	right:0;
	top:0;	
	box-sizing:border-box;
	
	#brought-to-you {
		margin:20px 0;	
	}
	
	.socials {
		
		img {
			
			padding:0 3px;
			vertical-align:middle;
		}
		
	}
	
}
	

#hero {
	
	position:relative;
	
	.floater {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		padding-top:60px;
		
		img {
			max-width:60%;
			display:block;
		}
		
			
	}
	
	.w40 {
		
		float:right;
		
		img {
			width:100%;
			height:auto;
			
		}
	}
}

#home-how-it-works {

	position:relative;
	
	h2 {
    	max-width:59%;
    }
    
    p {
        max-width:59%;
    }
    
    
	
	.floater {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		padding-top:60px;
		
		img {
			max-width:60%;
			display:block;
		}
		
			
	}
	
	.w40 {
		float:right;
		position:relative;

		img {
			width:100%;
			height:auto;
			margin:0;
		}
	}
}


#home-intro {
	
	p {
		width:25%;
		box-sizing:border-box;
		padding:0 20px;
		text-align:center;
		float:left;
		padding-bottom:30px;
		
		img {
			display:block;
			width:60%;
			margin:10px auto;
		}
		
	}
}


.take-button {
	display:block;
	margin:20px 0;
	}
	
#home-why {
	
	h2 {
		padding-top:110px;
	}
	
	p {
		padding-right:40px;
	}
	
#sidebar {
    width:80%;
	display:block;
	background-color:$tan;
	padding:30px;
	margin-left:20%;

}		
}

#challenge {
	
	form {
		margin-bottom:60px;
		
		input {
			width:48%;
			box-sizing:border-box;
			border:1px solid $med-gray;
			font-family:$din2014;
			padding:12px;
			font-size:16px;
		}

		
		
		#fleft {
			width:49%;
			box-sizing:border-box;
			padding-right:1%;
			float:left;
			
			input {
				width:100%;
				box-sizing:border-box;
				border:1px solid $med-gray;
				font-family:$din2014;
				padding:12px;
				font-size:16px;
			}
			
		}
		
		#fright {
			width:49%;
			box-sizing:border-box;
			padding-left:1%;
			float:left;
			
			input {
				width:100%;
				box-sizing:border-box;
				border:1px solid $med-gray;
				font-family:$din2014;
				padding:12px;
				font-size:16px;
      }
      
      p {
        font-size:12px;
        line-height:18px;
        float:right;
        width:93%;
        display:block;
        margin-bottom:10px;
        margin-top:5px;
        
        span {
          display:block;
        }
      }
      
      input[type="checkbox"] {
        background:$light-green;
        color:$dark-green;
        font-family:$din2014;
        width:5%;
        border:0;
        float:left;
        margin-top:5px;
      }		  
			
		}
		


		
		
		input[type="submit"] {
			background:$light-green;
			color:$dark-green;
			text-transform:uppercase;
			width:48%;
			font-family:$din2014;
			font-size:20px;
			font-weight:bold;
			border:0;
			float:left;
			box-sizing:border-box;
		}		
		
	}
	
}

#challenge_log {
	fieldset {
		display: none;
		&.current {
			display: block;
			
			h3 {
    			
    			button {
        			
        			background:$dark-green;
        			border:none;
        			color:#fff;
        			font-size:14px;
        			border-radius:3px;
        			padding:3px 6px;
        			
                }
                
                button.edit_log_entry {
                    display:none;
                }
                
                button.edit_log_entry.hide {
                    display:none;
                }

                
                button.save_log_entry {
                    display:block;
                }
                
                button.save_log_entry.show {
                    display:block;
                }

                
            }
			
			
		}
		&.complete {
			display: block;
			
			h3 {
    			
    			button {
        			
        			background:$dark-green;
        			border:none;
        			color:#fff;
        			font-size:14px;
        			border-radius:3px;
        			padding:3px 6px;
        			
                }
                
                button.edit_log_entry {
                    display:block;
                }
                
                button.edit_log_entry.hide {
                    display:block;
                }

                
                button.save_log_entry {
                    display:none;
                }
                
                button.save_log_entry.show {
                    display:none;
                }                
            }
			
			input {
				background: transparent;
			  border: none;
			  font-size: 30px;
			  padding: 0;
			  pointer-events: none;
			  width: 60px;
			  display: inline;
			  margin: 0;
			}
			p.filld {
				font-size: 20px;
				line-height: 40px;
				span {
					display: none;
				}
			}
			textarea {
				height: auto;
				background: transparent;
			  border: none;
			  padding: 0;
			  font-size: 16px;
			  pointer-events: none;
			}
			::-webkit-input-placeholder { /* WebKit browsers */
			    color: transparent;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color: transparent;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color: transparent;
			}
			:-ms-input-placeholder { /* Internet Explorer 10+ */
			   color: transparent;
			}
		}
	}
}

#how-tips {
    
    ul {
        
        li {
            list-style-type:disc;
            margin-left:25px;
        }
    }
}

.buttongroup {
		background: #B8DBA4;
    color: #429441;
    text-transform: uppercase;
    width: 48%;
    font-family: "din-2014", sans-serif;
		font-size: 20px;
		line-height:63px;
		text-decoration: none;
    font-weight: bold;
    border: 0;
    float: left;
		box-sizing: border-box;
		text-align: center;
}

.cognito {

	 input[type="text"] {
        border:0;
				margin-top:5px;
				padding: 12px !important;
      }		 

	.c-action {
		width: 100%;
	}

	.c-choice-checkboxes {
		display:block;
		width:100%;
		margin: 0 auto;

		.c-choice-option {
			width: 100%;
			display: block;
			text-align:center;

			label {
				display: inline-block;
				margin:0 auto;
			}

		}
		input {
			float:left;
			margin-right: 10px;
			display:block;
		}
		span {
			display:block;
			float:left;
			margin-left:30px;
			font-size:16px;
			line-height: 16px;
		}

		.c-helptext {
			display:block;
			margin-left: 40px;
		}
	}

	#c-submit-button {
		background: #B8DBA4;
    color: #429441;
    text-transform: uppercase;
    width: 48%;
    font-family: "din-2014", sans-serif;
		font-size: 20px;
		line-height:63px;
		text-decoration: none;
    font-weight: bold;
    border: 0;
    float: left;
		box-sizing: border-box;
		text-align: center;
		padding:0 !important;
		border-radius: 0 !important;
		}
} 


#sidebar {
	float:right;
}

#app-results {
	
	div {
		
		div {
			
			width:32%;
			float:left;
			box-sizing:border-box;
			border:1px solid $dark-green;
			
			
			h3 {
				background:$light-green;
				color:$dark-green;
				display:block;
				text-align:center;
				padding:6px;
				font-size:24px;
				line-height:30px;
			}
			
			p {
				display:block;
				text-align:center;
				margin:40px 0 0;
				font-size:20px;
				font-family:$din2014;
				font-weight:600;
				color:$dark-green;
				
				span {
					font-size:80px;
					display:block;
					margin-top:30px;
					margin-bottom:20px;
				}
			}
			
			p.final {
				color:$dark-gray;
				
				span::after {
    				content: "%";
                }
				
			}
			
			
		}
		
		div:nth-child(odd) {
			margin:0 1%;
		}
		
	}
	
}

#app-share {
	
	img {
		margin-bottom:20px;
		width:45%;
		float:left;
		margin-right:2%;
	}
}

form {
	
	input {
		
		box-sizing:border-box;
		border:0;
		background:#fff;
		padding:6px 12px;
		display:block;
		margin-bottom:6px;
		font-size:16px;
	}
	
	input[type="submit"] {
		background:$dark-green;
		color:#fff;
	}
	
	label {
		color:$dark-gray;
		font-family:$georgia;
		font-size:20px;
		line-height:29px;
		padding-bottom:12px;
	}	
}

#how-intro {
	
	h3 {
		padding-top:20px;
		font-weight:600;
	}
}


#how-strat {
		
	h3 {
		padding-bottom:0;
	}
	
	p {
		padding-bottom:20px;
	}
}


#app-intro {
	
	h3 {
		font-weight:600;
		
	}
	
	ul {
		margin-top:20px;
	}
	
	li {
		list-style-type:disc;
		margin-left:25px;
	}
	
}

#app-box {
	
	h3 {
		color:$med-gray;
		width:20%;
		float:left;
	}
	
	
	form {	
    	
    	h3 {
        	width:20%;
        	float:left;
        }
		
		margin-bottom:100px;
		font-family:$din2014;
		
		p {
			font-size:15px;
			width:85%;
			float:right;
			display:block;
			color:$dark-gray;
			font-family:$din2014;
			
			span {
				font-weight:bold;
			}
		}
		
		input {
			width:10%;
			float:left;
			margin:0 10px 0 0;
			border:10px;
			display:block;
			font-family:$din2014;
			border:1px solid $med-gray;
			font-size:16px;
		}
		
		fieldset {
    		clear:both;
    		margin-bottom:50px;
        }
		
		textarea {
			width:80%;
			height:100px;
			margin:10px 10px 0 20%;
			display:block;
			box-sizing:border-box;
			padding:10px;
			font-family:$din2014;
			font-size:16px;
			
		}
		
		input[type="submit"] {
			background:$light-green;
			color:$dark-green;
			text-transform:uppercase;
			width:100%;
			font-family:$din2014;
			font-size:20px;
			font-weight:bold;
			border:0;
		}		
		
	}
		
			
	
}

#toolkit-nav {
	background-color:$dark-green;
	text-align:center;
	margin-top:40px;
	
	a {
		color:$light-green;
		font-family:$din2014;
		text-transform:uppercase;
		text-decoration:none;
		font-size:16px;
		line-height:40px;
		padding:0 5px;
	}
	
	a.active {
    	color:#fff!important;
    }
	
}

#resources {
	.l3 {
		width:33.33333333%;
		float:left;
		position:relative;
		
		img {
			width:100%;
		}
		
		.indie-share {
			position: absolute;
			bottom:0;
			left:0;
			width:100%;
			background:$med-green;
			
			h3 {
				font-size:16px;
				float:left;
				color:#fff;
				padding:0;
				margin:0;
				padding-left:10px;
				line-height:40px;
				
				
			}
			
			.share-wrapper {
				float:right;
				width:80px;
				padding-top:10px;
				
				img {
					height:20px;
					width:auto;
					display:block;
					float:left;
					padding:0 3px;
					
				}
			
			}
		}
						
	}
}

.all-resources {
    display:none;
}
	
#mobile-topper {
	display:none;
}

.fire {
	cursor:pointer;
}

#overlay {
	background:#efefef;
	box-sizing:border-box;
	position:fixed;
	z-index:2000;
	width:40%;
	top:5%;
	left:30%;
	height:80vh;
	padding:50px;
	box-shadow: 0 0 15px #666;
	display:none;
	form {
		margin-bottom:60px;
		
		input {
			width:100%;
			box-sizing:border-box;
			border:1px solid $med-gray;
			font-family:$din2014;
			padding:12px;
		}

		
		
		#fleft {
			width:49%;
			box-sizing:border-box;
			padding-right:1%;
			float:left;
			
			input {
				width:100%;
				box-sizing:border-box;
				border:1px solid $med-gray;
				font-family:$din2014;
				padding:12px;
			}
			
		}
		
		#fright {
			width:49%;
			box-sizing:border-box;
			padding-left:1%;
			float:left;
			
			input {
				width:100%;
				box-sizing:border-box;
				border:1px solid $med-gray;
				font-family:$din2014;
				padding:12px;
			}
			
		}
		
		p {
			font-size:12px;
			line-height:18px;
			float:right;
			width:50%;
			display:block;
			
			span {
				display:block;
			}
		}
		
		input[type="checkbox"] {
			background:$light-green;
			color:$dark-green;
			font-family:$din2014;
			width:5%;
			border:0;
			float:left;
		}		

		
		
		input[type="submit"] {
			background:$light-green;
			color:$dark-green;
			text-transform:uppercase;
			width:100%;
			font-family:$din2014;
			font-size:20px;
			font-weight:bold;
			border:0;
			float:left;
			box-sizing:border-box;
		}		
		
	}
}

#overlay-video {
	background:#efefef;
	box-sizing:border-box;
	position:fixed;
	z-index:2000;
	width:90%;
	top:5%;
	left:5%;
	padding:50px 10px 10px;
	box-shadow: 0 0 15px #666;
	display:none;
	
	
	.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
	
	.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	
	#overlay-message {
	position:relative;

	.fire-video {
	
		position:absolute;
		right:10px;
		top:-40px;	
		font-size:40px;
		font-family:$din2014;
		font-weight:600;
		cursor:pointer;
	
	}
}

}
	
#overlay-video-demo {
	background:#efefef;
	box-sizing:border-box;
	position:fixed;
	z-index:2000;
	width:90%;
	top:5%;
	left:5%;
	padding:50px 10px 10px;
	box-shadow: 0 0 15px #666;
	display:none;
	
	
	.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
	
	.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	
	#overlay-message {
	position:relative;

	.fire-video-demo-fire {
	
		position:absolute;
		right:10px;
		top:-40px;	
		font-size:40px;
		font-family:$din2014;
		font-weight:600;
		cursor:pointer;
		z-index:1000;
	
	}
}

	
	

}



#overlay-message {
	position:relative;

	.fire {
	
		position:absolute;
		right:-30px;
		top:-30px;	
		font-size:40px;
		font-family:$din2014;
		font-weight:600;
		cursor:pointer;
	
	}
}

[data-visibilty="active"],
[data-visibilty="inactive"] {
	display: none;
}



@media only screen and (max-width: 1350px) {


#hero {
		
	.floater {
		padding-top:50px;

		img {
			max-width:55%;
			display:block;
		}
		
			
	}
	
}
	
	



#home-how-it-works {

		
	.floater {
		padding-top:50px;
		

		img {
			max-width:55%;
			display:block;
		}
		
			
	}
	
}
	
	
}


@media only screen and (max-width: 1200px) {


#hero {
		
	.floater {
		padding-top:40px;
		
		img {
			max-width:50%;
			display:block;
		}
		
			
	}
	
}
	
	

#home-how-it-works {
		
	.floater {
		padding-top:40px;
		
		img {
			max-width:50%;
			display:block;
		}
		
			
	}
	
}
	
	
}


@media only screen and (max-width: 1100px) {


#hero {
		
	.floater {
		padding-top:30px;
		
		img {
			max-width:45%;
			display:block;
		}
		
			
	}
	
}
	
	

#home-how-it-works {

    

		
	.floater {
		padding-top:30px;
		
		img {
			max-width:45%;
			display:block;
		}
		
			
	}
	
}
	
	
}




@media only screen and (max-width: 999px) {

#mobile-spacer {
	height:70px;
	display:block;
}

h2 {
	color:$dark-green;
	font-family:$bebas;
	text-transform:uppercase;
	font-size:40px;
	line-height:100%;
	font-weight:400;
}

h3 {
	color:$dark-green;
	font-family:$din2014;
	text-transform:uppercase;
	font-weight:300;
	font-size:20px;
	line-height:28px;
}

h4 {
	color:$dark-green;
	font-family:$bebas;
	text-transform:uppercase;
	font-size:30px;
	line-height:100%;
	font-weight:400;
}


p {
	color:$dark-gray;
	font-family:$georgia;
	font-size:16px;
	line-height:22px;
}

li {
	color:$dark-gray;
	font-family:$georgia;
	font-size:16px;
	line-height:22px;
}


a {
	color:$dark-green;
}

img {
	max-width:100%;
	height:auto;
}

.sleeve {
	width:100%;
	margin:0 auto;
	box-sizing:border-box;
	padding:0 40px;
}


.row {
	padding:50px 0;
}


.w60 {
	width:100%;
	float:none;
	box-sizing:border-box;
}

.w40 {
	width:100%;
	float:none;
	box-sizing:border-box;
}

.w50 {
	width:100%;
	float:none;
	box-sizing:border-box;
}

#hero {
	
	position:relative;
	
	.floater {
		position:relative;
		top:0;
		left:0;
		width:100%;
		padding-top:30px;
		padding-bottom:30px;
		
		img {
			max-width:100%;
			display:block;
			margin:0 auto;
			
		}
		
	}
	
	.w40 {
		
		float:right;
		
		img {
			width:100%;
			height:auto;
		}
	}
}


#home-how-it-works {
	
	position:relative;
	
	h2 {
    	max-width:100%;
    }
    
	p {
    	max-width:100%;
    }
	
	.floater {
		position:relative;
		top:0;
		left:0;
		width:100%;
		padding-top:30px;
		padding-bottom:30px;
		display:block;
		
		img {
			max-width:100%;
			display:block;
			margin:0 auto;
			
		}
		
	}
	
	.w40 {
		
		float:none;
		width:100%;
		display:block;
		
		img {
			width:100%;
			height:auto;
		}
	}
}


#home-intro {
	
	p {
		width:50%;
		box-sizing:border-box;
		padding:0 20px;
		text-align:center;
		float:left;
		padding-bottom:30px;
		
		img {
			display:block;
			width:60%;
			margin:10px auto;
		}
		
	}
}

#home-why {
	
	h2 {
		padding-top:0px;
	}
	
	p {
		padding-right:0px;
	}
	
#sidebar {
	float:none;
	display:block;
	margin:0 auto;
	background-color:$tan;
	padding:30px;

}	
}
	



#app-results {
	
	div {
		
		div {
			
			width:100%;
			float:none;
			box-sizing:border-box;
			border:1px solid $dark-green;
			margin-bottom:20px;
			
			
			h3 {
				background:$light-green;
				color:$dark-green;
				display:block;
				text-align:center;
				padding:6px;
				font-size:18px;
				line-height:22px;
			}
			
			p {
				display:block;
				text-align:center;
				margin:40px 0;
				font-size:24px;
				
				span {
                
                  font-size:80px;
                  margin-bottom:30px;
                    
                }
			}
			
		}
		
		div:nth-child(odd) {
			margin:0 0% 20px;
		}
		
	}
	
}

#app-share {
	
	img {
		margin-bottom:20px;
		width:100%;
		float:none;
		margin-right:0%;
	}
}


#app-box {
	
	
	form {	
		
		margin-bottom:100px;
		font-family:$din2014;
		width:100%;
		float:none;
		
    	h3 {
    		color:$med-gray;
    		width:100%;
    		float:none;
    	}		
		
		p {
			font-size:15px;
			width:78%;
			float:left;
			display:block;
			color:$dark-gray;
			font-family:$din2014;
			
			span {
				font-weight:bold;
			}
		}
		
		input {
			width:20%;
			float:left;
			margin-right:2%;
			border:10px;
			display:block;
			font-family:$din2014;
			border:1px solid $med-gray;
			font-size:16px;
		}
		
		textarea {
			width:100%;
			height:100px;
			margin:10px 0;
			display:block;
			box-sizing:border-box;
			padding:10px;
			font-family:$din2014;
			font-size:16px;
			
		}
		
		input[type="submit"] {
			background:$light-green;
			color:$dark-green;
			text-transform:uppercase;
			width:100%;
			font-family:$din2014;
			font-size:20px;
			font-weight:bold;
			border:0;
		}		
		
	}
		
			
	
}

#challenge {
	
	form {
		margin-bottom:60px;
		
		input {
			width:100%;
			box-sizing:border-box;
			border:1px solid $med-gray;
			font-family:$din2014;
			padding:12px;
			font-size:16px;
		}

		
		
		#fleft {
			width:100%;
			box-sizing:border-box;
			padding-right:0%;
			float:left;
			
			input {
				width:100%;
				box-sizing:border-box;
				border:1px solid $med-gray;
				font-family:$din2014;
				padding:12px;
				font-size:16px;
			}
			
		}
		
		#fright {
			width:100%;
			box-sizing:border-box;
			padding-left:0%;
			float:left;
			
			input {
				width:100%;
				box-sizing:border-box;
				border:1px solid $med-gray;
				font-family:$din2014;
				padding:12px;
				font-size:16px;
			}
			
		}
		
		p {
			font-size:12px;
			line-height:18px;
			float:right;
			width:94%;
			display:block;
			
			span {
				display:block;
			}
		}
		
		input[type="checkbox"] {
			background:$light-green;
			color:$dark-green;
			font-family:$din2014;
			width:5%;
			border:0;
			float:left;
		}		

		
		
		input[type="submit"] {
			background:$light-green;
			color:$dark-green;
			text-transform:uppercase;
			width:100%;
			font-family:$din2014;
			font-size:20px;
			font-weight:bold;
			border:0;
			float:none;
			box-sizing:border-box;
		}		
		
	}
	
}

#page-header {
	display:none;
	padding: 0;
}

#mobile-topper {
	
	display:block;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	box-sizing:border-box;
	box-shadow: 0 4px 2px -2px gray;
	z-index:1100;
	
	#moby{
	width:100%; 
	background:$light-green; 
	color:#fff;
	height:70px; 
	line-height:70px;
	border-bottom:0px solid #dddddd;
	margin:0 !important;
	text-align:left;
	
	
	}
	#ono-burger {
	  position:absolute;
	  background:$med-green;
	  top:0;
	  left:0;
	  height:50px;
	  width:auto;
	  padding:10px 10px 10px 10px;
	  }
	  
	  #mob-button {
		  color:$dark-green;
		  text-transform:uppercase;
		  font-family:$din2014;
		  text-decoration:none;
		  text-align:left;
		  font-size:22px;
		  font-weight:600;
		  padding-left:105px;
	}
	
	#menu-footer {
		background:$light-green;
		
		
		#menu-left {
			text-align:center;
			width:50%;
			float:left;
			box-sizing: border-box;
			border-right:1px solid $dark-green;
			padding:40px 0;
			
			img {
				max-width:80%;
				height:auto;
			}

			
		}
		
		#menu-right {
			text-align:center;
			width:50%;
			float:left;
			box-sizing: border-box;
			border-left:1px solid $dark-green;
			padding:40px 0;
			
			img {
				max-width:80%;
				height:auto;
			}
			
		}
		
	}
		

	.hamburger{
	  background:none;
	  position:absolute;
	  top:0;
	  right:0;
	  line-height:55px;
	  padding:5px 15px 0px 15px;
	  color:$dark-green;
	  border:0;
	  font-size:2em;
	  font-weight:normal;
	  cursor:pointer;
	  outline:none;
	}
	.cross{
	  background:none;
	  position:absolute;
	  top:0px;
	  right:0;
	  padding:7px 15px 0px 15px;
	  color:$dark-green;
	  border:0;
	  font-size:6em;
	  line-height:70px;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	}
	.menu{ width:100%; background:$med-green;  box-sizing:border-box; position:absolute; top:70px; text-align:left; padding-left:0px; margin:0; border-bottom:0 !important; font-family:$din2014!important;
		
	}
	.menu ul {margin: 0 !important; padding: 0; list-style-type: none; list-style-image: none; border-bottom:0 !important;}
	.menu li {display: block;   padding:15px 0 15px 0; border-bottom:1px solid $light-green; font-family:$din2014!important; font-weight:100 !important; letter-spacing:.075em !important;}
	.menu ul ul li {display: block;   padding:8px 0 8px 0; border-bottom:1px solid $light-green;}
	.menu li:hover{display: block;    background:$med-green; padding:15px 0 15px 0; font-family:$din2014!important; font-weight:100 !important; letter-spacing:.075em !important; }
	.menu ul ul li:hover{display: block;    background:$med-green; padding:8px 0 8px 0; }
	.menu li:hover a {color:#fff; border-bottom:0; font-weight:100 !important; }
	.menu ul li a { text-decoration:none;  margin: 0px; color:#fff; text-transform:uppercase; border-bottom:0 !important; font-size:20px; font-weight:600; cursor:pointer; font-weight:100 !important; padding-left:40px;}
	.menu ul ul li a { text-decoration:none;  margin: 0px; color:#fff; text-transform:uppercase; border-bottom:0 !important; font-size:16px; font-weight:300; cursor:pointer; font-weight:100 !important;}
	.menu ul li a:hover {  color: #fff; text-decoration:none; border-bottom:0 !important; font-weight:100 !important;}
	.menu a{text-decoration:none; color:#fff; border-bottom:0 !important; font-weight:100 !important;}
	.menu a:hover{text-decoration:none; color:#fff; border-bottom:0 !important; font-weight:100 !important;}
	
	.glyphicon-home{
	  color:white; 
	  font-size:1.5em; 
	  margin-top:5px; 
	  margin:0 auto;
	}
	#moby{display:inline-block; font-size:12px;}
	span{padding-left:20px;}
	a{color:#fff; border-bottom:0 !important;}

}

#overlay {
	background:#efefef;
	box-sizing:border-box;
	position:fixed;
	z-index:2000;
	width:90%;
	top:5%;
	left:5%;
	height:80vh;
	padding:50px;
	box-shadow: 0 0 15px #666;
	display:none;
	form {
		margin-bottom:60px;
		
		input {
			width:100%;
			box-sizing:border-box;
			border:1px solid $med-gray;
			font-family:$din2014;
			text-transform:uppercase;
			padding:12px;
			font-size:16px;
		}

		
		
		#fleft {
			width:49%;
			box-sizing:border-box;
			padding-right:1%;
			float:left;
			
			input {
				width:100%;
				box-sizing:border-box;
				border:1px solid $med-gray;
				font-family:$din2014;
				text-transform:uppercase;
				padding:12px;
				font-size:16px;
			}
			
		}
		
		#fright {
			width:49%;
			box-sizing:border-box;
			padding-left:1%;
			float:left;
			
			input {
				width:100%;
				box-sizing:border-box;
				border:1px solid $med-gray;
				font-family:$din2014;
				text-transform:uppercase;
				padding:12px;
				font-size:16px;
			}
			
		}
		
		p {
			font-size:12px;
			line-height:18px;
			float:right;
			width:50%;
			display:block;
			
			span {
				display:block;
			}
		}
		
		input[type="checkbox"] {
			background:$light-green;
			color:$dark-green;
			font-family:$din2014;
			width:5%;
			border:0;
			float:left;
		}		

		
		
		input[type="submit"] {
			background:$light-green;
			color:$dark-green;
			text-transform:uppercase;
			width:100%;
			font-family:$din2014;
			font-size:20px;
			font-weight:bold;
			border:0;
			float:left;
			box-sizing:border-box;
		}		
		
	}
}


#toolkit-nav {
	display:none;
}

#resources {
	.l3 {
		width:100%;
		float:none;
		position:relative;
		
		img {
			width:100%;
		}
		
		.indie-share {
			position: absolute;
			bottom:0;
			left:0;
			width:100%;
			background:$med-green;
			
			h3 {
				font-size:16px;
				float:left;
				color:#fff;
				padding:0;
				margin:0;
				padding-left:10px;
				line-height:40px;
				
				
			}
			
			.share-wrapper {
				float:right;
				width:80px;
				padding-top:10px;
				
				img {
					height:20px;
					width:auto;
					display:block;
					float:left;
					padding:0 3px;
					
				}
			
			}
		}
						
	}
}

.all-resources {
    display:block;
    width:90%;
    margin:20px auto 0;
    background:$light-green;
    color:$dark-green;
    text-align:center;
    text-transform:uppercase;
    font-size:20px;
    line-height:40px;
    text-decoration:none;
    font-family:$din2014;
    font-weight:600;
}
	


}


@media only screen and (max-width: 650px) {

#home-intro {
	
	p {
		width:100%;
		box-sizing:border-box;
		padding:0 20px;
		text-align:center;
		float:left;
		padding-bottom:30px;
		
		img {
			display:block;
			width:60%;
			margin:10px auto;
		}
		
	}
}

}

a.buttongroupimg img {
	max-width: 400px;
	display:block;
}

.cognito {

	 input[type="text"] {
        border:0;
				margin-top:5px;
				padding: 12px !important;
				width: 100%;
      }		 

	.c-action {
		width: 100%;
	}

	.c-choice-checkboxes {
		display:block;
		width:100%;
		margin: 0 auto;
		input {
			float:left;
			margin-right: 100px;
			display:block;
		}
		span {
			display:block;
			float:left;
			margin-left:30px;
			font-size:16px;
			line-height: 16px;
			text-align:left;
		}

		.c-helptext {
			display:block;
			text-align: center;
			width: 100%;
			margin: 0;
		}
	}

	#c-submit-button {
		background: #B8DBA4;
    color: #429441;
    text-transform: uppercase;
    width: 100%;
    font-family: "din-2014", sans-serif;
		font-size: 20px;
		line-height:63px;
		text-decoration: none;
    font-weight: bold;
    border: 0;
    float: none;
		box-sizing: border-box;
		text-align: center;
		padding:0 !important;
		border-radius: 0 !important;
		}
} 


@media only screen and (max-width: 500px) {


#mobile-topper {
	
	display:block;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	box-sizing:border-box;
	box-shadow: 0 4px 2px -2px gray;
	z-index:1100;
	
	#moby{
	width:100%; 
	background:$light-green; 
	color:#fff;
	height:70px; 
	line-height:70px;
	border-bottom:0px solid #dddddd;
	margin:0 !important;
	text-align:left;
	
	
	}
	#ono-burger {
	  position:absolute;
	  background:$med-green;
	  top:0;
	  left:0;
	  height:50px;
	  width:auto;
	  padding:10px 10px 10px 10px;
	  }
	  
	  #mob-button {
		  color:$dark-green;
		  text-transform:uppercase;
		  font-family:$din2014;
		  text-decoration:none;
		  text-align:left;
		  font-size:18px;
		  font-weight:600;
		  padding-left:85px;
	}
	
	#menu-footer {
		background:$light-green;
		
		
		#menu-left {
			text-align:center;
			width:50%;
			float:left;
			box-sizing: border-box;
			border-right:1px solid $dark-green;
			padding:40px 0;
			
			img {
				max-width:80%;
				height:auto;
			}

			
		}
		
		#menu-right {
			text-align:center;
			width:50%;
			float:left;
			box-sizing: border-box;
			border-left:1px solid $dark-green;
			padding:40px 0;
			
			img {
				max-width:80%;
				height:auto;
			}
			
		}
		
	}
		

	.hamburger{
	  background:none;
	  position:absolute;
	  top:0;
	  right:0;
	  line-height:55px;
	  padding:5px 15px 0px 15px;
	  color:$dark-green;
	  border:0;
	  font-size:2em;
	  font-weight:normal;
	  cursor:pointer;
	  outline:none;
	}
	.cross{
	  background:none;
	  position:absolute;
	  top:0px;
	  right:0;
	  padding:7px 15px 0px 15px;
	  color:$dark-green;
	  border:0;
	  font-size:6em;
	  line-height:70px;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	}
	.menu{ width:100%; background:$med-green;  box-sizing:border-box; position:absolute; top:70px; text-align:left; padding-left:0px; margin:0; border-bottom:0 !important; font-family:$din2014!important;
		
	}
	.menu ul {margin: 0 !important; padding: 0; list-style-type: none; list-style-image: none; border-bottom:0 !important;}
	.menu li {display: block;   padding:15px 0 15px 0; border-bottom:1px solid $light-green; font-family:$din2014!important; font-weight:100 !important; letter-spacing:.075em !important;}
	.menu ul ul li {display: block;   padding:8px 0 8px 0; border-bottom:1px solid $light-green;}
	.menu li:hover{display: block;    background:$med-green; padding:15px 0 15px 0; font-family:$din2014!important; font-weight:100 !important; letter-spacing:.075em !important; }
	.menu ul ul li:hover{display: block;    background:$med-green; padding:8px 0 8px 0; }
	.menu li:hover a {color:#fff; border-bottom:0; font-weight:100 !important; }
	.menu ul li a { text-decoration:none;  margin: 0px; color:#fff; text-transform:uppercase; border-bottom:0 !important; font-size:20px; font-weight:600; cursor:pointer; font-weight:100 !important; padding-left:40px;}
	.menu ul ul li a { text-decoration:none;  margin: 0px; color:#fff; text-transform:uppercase; border-bottom:0 !important; font-size:16px; font-weight:300; cursor:pointer; font-weight:100 !important;}
	.menu ul li a:hover {  color: #fff; text-decoration:none; border-bottom:0 !important; font-weight:100 !important;}
	.menu a{text-decoration:none; color:#fff; border-bottom:0 !important; font-weight:100 !important;}
	.menu a:hover{text-decoration:none; color:#fff; border-bottom:0 !important; font-weight:100 !important;}
	
	.glyphicon-home{
	  color:white; 
	  font-size:1.5em; 
	  margin-top:5px; 
	  margin:0 auto;
	}
	#moby{display:inline-block; font-size:12px;}
	span{padding-left:20px;}
	a{color:#fff; border-bottom:0 !important;}

}




}
