$custom-font-name: 'project_name';
@font-face {
  font-family: $custom-font-name;
  src:  url('/fonts/${custom-font-name}.eot?i6fit0');
  src:  url('/fonts/${custom-font-name}.eot?i6fit0#iefix') format('embedded-opentype'),
    url('/fonts/${custom-font-name}.ttf?i6fit0') format('truetype'),
    url('/fonts/${custom-font-name}.woff?i6fit0') format('woff'),
    url('/fonts/${custom-font-name}.svg?i6fit0#${custom-font-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change /img/fonts */
  font-family: '${custom-font-name}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Content declarations
/*
 .icon-example:before {
   content: "\e900";
 }
*/


$bebas: "bebas-neue", sans-serif;

$din: "din-condensed-web", sans-serif;

$georgia: "georgia", serif;

$din2014: "din-2014", sans-serif;