<div data-visibilty="inactive">
	<h3>Log In</h3>
	<form id="login_challenge"
		  name="login_challenge"
		  accept-charset="UTF-8"
		  autocomplete="off"
		  enctype="multipart/form-data"
		  method="post"
		  novalidate
		  action="{{ site.app_url }}/signin">
		<input id="email_return" name="email_return" type="email" placeholder="Email"/>
		<input type="submit" value="Log in" />
	</form>
	<p>Don't have an account? <a href="/index.html#challenge" class="logreg">Register here</a></p>
	<p>Having troubles logging in? <a href="/help/" class="logreg">We can help</a></p>
</div>