<form id="signup_form"
    name="signup_form"
    class="cf profile"
    data-action="{{ include.action }}"
    accept-charset="UTF-8"
    autocomplete="off"
    enctype="multipart/form-data"
    method="post"
    novalidate
    action="{{ site.app_url }}/signup">

  <input type="hidden"
         id="confirm_log"
         name="confirm_log"
         value="[]">
  <div id="fleft">
    <input id="first_name" name="first_name" type="text" placeholder="First Name*"/>
    <input id="last_name" name="last_name" type="text" placeholder="Last Name*"/>
    <input id="organization_code" name="organization_code" type="text" placeholder="Group Code (Optional)"/>
  </div>
  <div id="fright">
    <input id="email" name="email" type="email" placeholder="Email*"/>
    <input id="postal" name="postal" type="text" placeholder="Zip Code"/>
    <input type="checkbox" checked><p>Yes, sign me up for the Sustainable America newsletter for more sustainability tips.<span>We will never share your personal information.</span></p>

  </div>
  <input type="submit" onClick="ga('send', 'event', 'button', 'signup form', 'Sign Up Form Submit');" value="Take The Challenge" />
</form>