<form id="update_profile"
      class="cf"
      data-action="{{ include.action }}"
      autocomplete="off"
      method="post"
      action="{{ site.app_url }}/update"
      novalidate>
  <div id="fleft">
    <input id="confirm_first_name" name="confirm_first_name" type="text" placeholder="First Name"/>
    <input id="confirm_last_name" name="confirm_last_name" type="text" placeholder="Last Name"/>
    <input id="confirm_organization_code" name="confirm_organization_code" type="text" placeholder="Group Code (Optional)"/>
  </div>
  <div id="fright">
    <input id="confirm_email" name="confirm_email" type="email" placeholder="Email"/>
    <input id="confirm_postal" name="confirm_postal" type="text" placeholder="Zip Code"/>
    <input type="checkbox" checked><p>Yes, sign me up for the Sustainable America newsletter for more sustainability tips.<span>We will never share your personal information.</span></p>
  </div>
  <input type="submit" value="Update Profile" />

</form>
<p>Having troubles making updates? <a href="/help/" class="logreg">We can help</a></p>