---
layout: homepage
title: I Value Food Challenge
---

<section id="hero" class="tan cf">
	
	<div class="floater">
	<div class="sleeve">
		<img src="/img/take-the-challenge.svg" alt="Take The Challenge - It's Time to Waste Less, Enjoy More">
		<a href="http://sustainableamerica.org"><img src="/img/presented-by.svg" alt="Presented By Sustainable America"></a>
	</div>
	</div>
	<div class="w40">
		<img src="/img/fridge.jpg" alt="Take The Challenge - It's Time to Waste Less, Enjoy More">
	</div>
</section>


<section class="row white" id="home-intro">
	<div class="sleeve">
		<h2>Reduce Waste, Save Money</h2>
		<h3>CONGRATULATIONS! YOU’VE FOUND THE “I VALUE FOOD: TOO GOOD TO WASTE CHALLENGE”. THIS MONTH-LONG PROGRAM WILL HELP YOU:</h3>
		<div class="cf">
			<p><img src="/img/IVF_icon-22.svg" alt="Pinpoint why good food may be going to waste in your home">Pinpoint why good food may be going to waste in your home</p>
			<p><img src="/img/IVF_icon-23.svg" alt="Make easy shifts in how you shop, store and prep food">Make easy shifts in how you shop, store and prep food</p>
			<p><img src="/img/IVF_icon-24.svg" alt="Reduce waste">Reduce waste</p>
			<p><img src="/img/IVF_icon-25.svg" alt="Save money">Save money</p>
		</div>
		<a href="#challenge" title="Take The Challenge" class="take-button" onClick="ga('send', 'event', 'button', 'content link to register', 'Take The Challenge Home Reduce');"><img src="/img/button-take.svg" alt="Take The Challenge"></a>
	</div>
</section>

<section class="tan cf" id="home-how-it-works">
    <div class="floater">
	<div class="sleeve">
		<h2>How It Works</h2>
		<p>During the first week you’ll track your preventable food waste to find out just how much you’re really wasting.</p>
		<p>Over the next three weeks, we’ll email you easy tips and strategies to try as you continue to track your waste. By the end of the month, you’ll see how much food you saved.</p>
		<a href="#challenge" title="Take The Challenge" class="take-button" onClick="ga('send', 'event', 'button', 'content link to register', 'Take The Challenge Home HIW');"><img src="/img/button-take.svg" alt="Take The Challenge"></a>
	</div>
    </div>
	<div class="w40">
		<a class="fire-video-demo-fire fire-image" style="cursor:pointer;" onClick="ga('send', 'event', 'button', 'content launch video', 'Video Modal Launch');"><img src="/img/how-to-image-play.jpg" alt="How It Works"></a>
	</div>
</section>

<section id="overlay-video-demo">
    <div id="overlay-message">
    <a class="fire-video-demo-fire close">X</a>
    <div class='embed-container'><iframe width="1280" height="720" src="https://www.youtube.com/embed/TGKDH_3wSEo" frameborder="0" allowfullscreen></iframe></div>
    </div>
</section>

<section class="row white" id="home-why">
	<div class="sleeve cf">
		<div class="w60">
			<h2>Why Should We Reduce Food Waste?</h2>
			<p>Buying food, then throwing it out is not only a waste of money, it also hurts the environment. By making a few small changes, we have a great opportunity to make a difference on this issue every day. <a class="fire-video">Learn more about food waste.</a></p>
			<a href="#challenge" title="Take The Challenge" class="take-button" onClick="ga('send', 'event', 'button', 'content link to register', 'Take The Challenge Home Why');"><img src="/img/button-take.svg" alt="Take The Challenge"></a>
		</div>
		<div class="w40">
			<img src="/img/sidebar.svg" id="sidebar" alt="Americans waste 25% of the food they buy. That's like buying four bags of groceries and dropping one in the parking lot!">
		</div>
	</div>
</section>

<section id="overlay-video">
    <div id="overlay-message">
    <a class="fire-video close">X</a>
    <div class='embed-container'><iframe src='https://player.vimeo.com/video/112311414?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=27110f' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    </div>
</section>

<section class="row tan" id="challenge">
	<div class="sleeve" class="cf">
		<h2>Ready to Waste Less and Enjoy More?</h2>
		<h3>Take the I Value Food: Too Good to Waste Challenge</h3>
		
		<h4>Register</h4>
		{% include forms/signupForm.html %}
		<p>Having troubles signing up? <a href="/help/" class="logreg">We can help</a></p>
		<p>Would you like to do the Challenge as a group? <a href="https://challenge.ivaluefood.com/groups/" onClick="ga('send', 'event', 'button', 'Groups Link Under Signup Form', 'Groups Link Under Signup Form');">Learn More.</a></p>
		
	</div>
</section>
<section class="row white cf" id="app-share">
	<div class="sleeve">
		<h2>Challenge Your Friends</h2>
		<p>Share your food waste savings and invite your friends to reduce food waste with you.</p>
		
		<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//ivaluefood.com/challenge"><img src="/img/challenge-facebook.svg" alt="Challenge a friend on Facebook"></a>
		
		<a href="https://twitter.com/intent/tweet?text=How%20much%20food%20do%20you%20waste%3F%20Take%20the%20%23IValueFood%20Challenge%20to%20find%20out%2C%20get%20tips%20%26%20save%20money.%20%20http%3A%2F%2Fivaluefood.com%2Fchallenge&source=webclient"><img src="/img/challenge-twitter.svg" alt="Challenge a friend on Twitter"></a>
	</div>
</section>